{{breadcrums "Home" "Access Rights"}}
<div class="app-content center-layout mt-2 mx-md-3 px-1">
<div class="content-wrapper">
<div class="row">
<div class="col-xl-12 col-lg-12 col-12">
<div class="card123 access_right">
		<ul class="nav nav-pills nav-pill-toolbar" id=""> 
			{{#each roledata}} 
				<li class="nav-item nav-item col-lg-3 col-md-3 col-sm-6 pl-md-0 mb-1 ">
					<a class="nav-link tab {{#ifCond @index '==' 0}} active {{/ifCond}}" id="{{this.role_slug}}-tab" data-toggle="pill" href="#{{this.role_slug}}" aria-expanded="true" {{#ifCond this.role_slug '==' 'role_nm'}}{{/ifCond}}>{{this.role_nm}}</a>
				</li>
			{{/each}}
		</ul>  
		<div class="card-content" id="left-handles">  
		<div id="card-drag-title-area">
			<div class="tab-content pt-1">
	        {{#each roledata as |role_data|}}			
				<div role="tabpanel" class="tab-pane {{#ifCond @index '==' 0}} active {{/ifCond}}" id="{{role_data.role_slug}}"  aria-labelledby="" aria-expanded="true">
					<div class="align-self-start">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">{{role_data.role_nm}}</h4>
								<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
							</div>
								<div class="card-content collapse show">
								<div class="card-body">
								{{#check_value_in ../accessrightdata role_data.role_slug }}
								{{#each ../accessrightdata as |access_data|}}
								{{#ifCond role_data.role_slug '==' access_data.rolename}}
								<form  action="/accessrights/accessright" method="POST"  enctype="multipart/form-data">
								<input type="hidden" name="id" value="{{access_data._id}}" id="{{role_data._id}}">
								<input type="hidden" name="role_name" value="{{role_data.role_slug}}" id="{{role_data.role_slug}}">
								<div class="table-responsive">
								<table id="dataTables-example" class="display table table-bordered table-striped">
									<thead>
										<tr class="text-center">
											<th class="text-left">{{#with ..}}{{__ "Module Name"}}{{/with}}</th>
											<th>{{#with ..}}{{__ "View" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Add" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Update" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Delete" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Own data" setlang}}{{/with}}</th>
										</tr>
									</thead>
								<tbody>
									<!--Users Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="user" >{{#with ..}}{{__ "Users" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][view]"  class="main_access" data-for="user" value="user_view" {{#ifCond this.access_type.user.view "==" "user_view"}} checked {{/ifCond}}> 
										</td> 
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][add]" class="user_0" value="user_add" {{#ifCond this.access_type.user.add "==" "user_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][update]" class="user_0" value="user_update"  {{#ifCond this.access_type.user.update "==" "user_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][delete]" class="user_0" value="user_delete" {{#ifCond this.access_type.user.delete "==" "user_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][owndata]" class="user_0" value="user_owndata"   {{#ifCond this.access_type.user.owndata "==" "user_owndata"}} checked{{/ifCond}}>
										</td> 
									</tr> 
									<!--Deactivated Users Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="deactiveuser">{{#with ..}}{{__ "Deactivated Users" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[deactiveuser][view]"  class="main_access" data-for="deactiveuser" value="deactiveuser_view" {{#ifCond this.access_type.deactiveuser.view "==" "deactiveuser_view"}} checked {{/ifCond}}> 
										</td> 
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[deactiveuser][add]" class="user_0" value="deactiveuser_add" {{#ifCond this.access_type.deactiveuser.add "==" "deactiveuser_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[deactiveuser][update]" class="user_0" value="deactiveuser_update"  {{#ifCond this.access_type.deactiveuser.update "==" "deactiveuser_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[deactiveuser][delete]" class="user_0" value="deactiveuser_delete" {{#ifCond this.access_type.deactiveuser.delete "==" "deactiveuser_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[deactiveuser][owndata]" class="user_0" value="deactiveuser_owndata"   {{#ifCond this.access_type.deactiveuser.owndata "==" "deactiveuser_owndata"}} checked{{/ifCond}}>
										</td> 
									</tr> 
									<!--Types Of Loans Rights -->
									<tr>
										<td class=" skin skin-flat" value="typeofloan" >{{#with ..}}{{__ "Loan Type" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="typeofloan" name="accessrights[typeofloan][view]" value="typeofloan_view" {{#ifCond this.access_type.typeofloan.view "==" "typeofloan_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[typeofloan][add]" class="custom_fields_0" value="typeofloan_add" {{#ifCond this.access_type.typeofloan.add "==" "typeofloan_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[typeofloan][update]" class="custom_fields_0" value="typeofloan_update" {{#ifCond this.access_type.typeofloan.update "==" "typeofloan_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Loan List Access Rights -->
									<tr>
										<td class="skin skin-flat" value="loanlist">{{#with ..}}{{__ "Loan List" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][view]" data-row="0" class="main_access" data-for="custom_fields" value="loan_list_view" {{#ifCond this.access_type.loanlist.view "==" "loan_list_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][add]" class="custom_fields_0" value="loan_list_add" {{#ifCond this.access_type.loanlist.add "==" "loan_list_add"}} checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][update]" class="custom_fields_0" value="loan_list_update" {{#ifCond this.access_type.loanlist.update "==" "loan_list_update"}} checked {{/ifCond}}  >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][delete]" class="custom_fields_0" value="loan_list_delete" {{#ifCond this.access_type.loanlist.delete "==" "loan_list_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][owndata]" class="custom_fields_0" value="loan_list_owndata" {{#ifCond this.access_type.loanlist.owndata "==" "loan_list_owndata"}} checked {{/ifCond}} >
										</td>
									</tr>
									<!--Disapproved Loan List Access Rights -->
									<tr>
										<td class="skin skin-flat" value="disapproveloanlist" >{{#with ..}}{{__ "Disapproved Loan List" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[disapproveloanlist][view]" data-row="0" class="main_access" data-for="custom_fields" value="disapproveloan_list_view" {{#ifCond this.access_type.disapproveloanlist.view "==" "disapproveloan_list_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[disapproveloanlist][add]" class="custom_fields_0" value="disapproveloan_list_add" {{#ifCond this.access_type.disapproveloanlist.add "==" "disapproveloan_list_add"}} checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[disapproveloanlist][update]" class="custom_fields_0" value="disapproveloan_list_update" {{#ifCond this.access_type.disapproveloanlist.update "==" "disapproveloan_list_update"}} checked {{/ifCond}}  >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[disapproveloanlist][delete]" class="custom_fields_0" value="disapproveloan_list_delete" {{#ifCond this.access_type.disapproveloanlist.delete "==" "disapproveloan_list_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[disapproveloanlist][owndata]" class="custom_fields_0" value="disapproveloan_list_owndata" {{#ifCond this.access_type.disapproveloanlist.owndata "==" "disapproveloan_list_owndata"}} checked {{/ifCond}} >
										</td>
									</tr>
									<!-- Product Rights-->
									<tr>
										<td class="skin skin-flat" value="product" >{{#with ..}}{{__ "Product" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][view]" data-row="0" class="main_access" data-for="custom_fields" value="product_view" {{#ifCond this.access_type.product.view "==" "product_view"}} checked {{/ifCond}}> 
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][add]" class="custom_fields_0" value="product_add" {{#ifCond this.access_type.product.add "==" "product_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][update]" class="custom_fields_0" value="product_update" {{#ifCond this.access_type.product.update "==" "product_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][delete]" class="custom_fields_0" value="product_delete" {{#ifCond this.access_type.product.delete "==" "product_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][owndata]" class="custom_fields_0" value="product_owndata" {{#ifCond this.access_type.product.owndata "==" "product_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>									
									<!--Rules and Regulation Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="rulesandregulation" >{{#with ..}}{{__ "Rules and Regulation" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="customer_info" name="accessrights[rulesandregulation][view]" value="rules_and_regulation_view" {{#ifCond this.access_type.rulesandregulation.view "==" "rules_and_regulation_view"}} checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="customer_info_0" name="accessrights[rulesandregulation][add]" value="rules_and_regulation_add" {{#ifCond this.access_type.rulesandregulation.add "==" "rules_and_regulation_add"}} checked  {{/ifCond}} ></td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="customer_info_0" name="accessrights[rulesandregulation][update]" value="rules_and_regulation_update" {{#ifCond this.access_type.rulesandregulation.update "==" "rules_and_regulation_update"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[rulesandregulation][delete]" class="custom_fields_0" value="rules_and_regulation_delete" {{#ifCond this.access_type.rulesandregulation.delete "==" "rules_and_regulation_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[rulesandregulation][owndata]" class="customer_info_0" value="rules_and_regulation_owndata" {{#ifCond this.access_type.rulesandregulation.owndata "==" "rules_and_regulation_owndata"}} checked {{/ifCond}} ></td>
									</tr> 
									<!--Alerts Rights -->
									<tr>
										<td class=" skin skin-flat" value="alert" >{{#with ..}}{{__ "Alerts" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="email_log" name="accessrights[alert][view]" value="view_alert" {{#ifCond this.access_type.alert.view "==" "view_alert"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[alert][delete]" value="clear_alert" {{#ifCond this.access_type.alert.delete "==" "clear_alert"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[alert][owndata]" class="email_log_0" value="alert_owndata" {{#ifCond this.access_type.alert.owndata "==" "alert_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Report Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="report" >{{#with ..}}{{__ "Reports" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="report" name="accessrights[report][view]" value="report_view" {{#ifCond this.access_type.report.view "==" "report_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Service Access Rights -->
									<tr>
										<td class="skin skin-flat" value="service" >{{#with ..}}{{__ "Service" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[service][view]"  value="service_view" {{#ifCond this.access_type.service.view "==" "service_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[service][add]" value="service_add" {{#ifCond this.access_type.service.add "==" "service_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[service][update]" value="service_update" {{#ifCond this.access_type.service.update "==" "service_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[service][delete]" value="service_delete" {{#ifCond this.access_type.service.delete "==" "service_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[service][owndata]" class="notification_template_0" value="service_owndata" {{#ifCond this.access_type.service.owndata "==" "service_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Category Access Rights -->
									<tr>
										<td class="skin skin-flat" value="category" >{{#with ..}}{{__ "Category" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[category][view]"  value="category_view" {{#ifCond this.access_type.category.view "==" "category_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[category][add]" value="category_add" {{#ifCond this.access_type.category.add "==" "category_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[category][update]" value="category_update" {{#ifCond this.access_type.category.update "==" "category_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[category][delete]" value="category_delete" {{#ifCond this.access_type.category.delete "==" "category_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[category][owndata]" class="notification_template_0" value="category_owndata" {{#ifCond this.access_type.category.owndata "==" "category_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Events Access Rights -->
									<tr>
										<td class="skin skin-flat" value="events" >{{#with ..}}{{__ "Events" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[events][view]"  value="events_view" {{#ifCond this.access_type.events.view "==" "events_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[events][add]" value="events_add" {{#ifCond this.access_type.events.add "==" "events_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[events][update]" value="events_update" {{#ifCond this.access_type.events.update "==" "events_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[events][delete]" value="events_delete" {{#ifCond this.access_type.events.delete "==" "events_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[events][owndata]" class="notification_template_0" value="events_owndata" {{#ifCond this.access_type.events.owndata "==" "events_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Notification Template Access Rights -->
									<tr>
										<td class="skin skin-flat" value="notification" >{{#with ..}}{{__ "Notification Template" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[notification][view]"  value="notifications_view" {{#ifCond this.access_type.notification.view "==" "notifications_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[notification][add]" value="notifications_add" {{#ifCond this.access_type.notification.add "==" "notifications_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[notification][update]" value="notifications_update" {{#ifCond this.access_type.notification.update "==" "notifications_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[notification][owndata]" class="notification_template_0" value="notification_template_owndata" {{#ifCond this.access_type.notification.owndata "==" "notification_template_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Notes Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="notes" >{{#with ..}}{{__ "Notes" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notes" name="accessrights[notes][view]" value="notes_view" {{#ifCond this.access_type.notes.view "==" "notes_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<tr>
										<td class=" skin skin-flat" value="activitylog" >{{#with ..}}{{__ "Activity Log" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="activitylog" name="accessrights[activitylog][view]" value="activitylog_view" {{#ifCond this.access_type.activitylog.view "==" "activitylog_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Impersonate Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="impersonate" >{{#with ..}}{{__ "Impersonate" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="impersonate" name="accessrights[impersonate][view]" value="impersonate_view" {{#ifCond this.access_type.impersonate.view "==" "impersonate_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Roles Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="role" >{{#with ..}}{{__ "Roles" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="role" name="accessrights[role][view]" value="roles_view" {{#ifCond this.access_type.role.view "==" "roles_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][add]" value="roles_add" {{#ifCond this.access_type.role.add "==" "roles_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][update]"  value="roles_update" {{#ifCond this.access_type.role.update "==" "roles_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][delete]" value="roles_delete" {{#ifCond this.access_type.role.delete "==" "roles_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[role][owndata]" class="role_0" value="roles_owndata" {{#ifCond this.access_type.role.owndata "==" "roles_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!-- Access Rights -->
									<tr>
										<td class="skin skin-flat" value="access" >{{#with ..}}{{__ "Access Rights" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="accessright" name="accessrights[access][view]" value="access_view" {{#ifCond this.access_type.access.view "==" "access_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Reminder Access Rights -->
									<tr>
										<td class="skin skin-flat" value="reminder" >{{#with ..}}{{__ "Reminders" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="reminder" name= "accessrights[reminder][view]" value="reminder_view" {{#ifCond this.access_type.reminder.view "==" "reminder_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name= "accessrights[reminder][add]" value="reminder_add" {{#ifCond this.access_type.reminder.add "==" "reminder_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name="accessrights[reminder][update]" value="reminder_edit" {{#ifCond this.access_type.reminder.update "==" "reminder_edit"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name="accessrights[reminder][delete]" value="reminder_delete" {{#ifCond this.access_type.reminder.delete "==" "reminder_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name= "accessrights[reminder][owndata]" class="reminder_0" value="reminder_owndata" {{#ifCond this.access_type.reminder.owndata "==" "reminder_owndata"}} checked {{/ifCond}}>
										</td>
									</tr> 
									<!--General Settings -->
									<tr>
										<td class=" skin skin-flat" value="generalsetting">{{#with ..}}{{__ "General Settings" setlang}}{{/with}}</td>
										<td></td>
										<td></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name= "accessrights[generalsetting][update]" class="general_settings0" value="general_settings" {{#ifCond this.access_type.generalsetting.update "==" "general_settings"}} checked{{/ifCond}} >
										</td> 
										<td></td>
										<td></td>
									</tr>
									<!--Custom Fields Access Rights -->
									<tr>
										<td class="skin skin-flat" value="customfield" >{{#with ..}}{{__ "Custom Fields" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][view]" data-row="0" class="main_access" data-for="customfield" value="custom_fields_view" {{#ifCond this.access_type.customfield.view "==" "custom_fields_view"}} Checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][add]" class="custom_fields_0" value="custom_fields_add" {{#ifCond this.access_type.customfield.add "==" "custom_fields_add"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][update]" class="custom_fields_0" value="custom_fields_update" {{#ifCond this.access_type.customfield.update "==" "custom_fields_update"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][delete]" class="custom_fields_0" value="custom_fields_delete" {{#ifCond this.access_type.customfield.delete "==" "custom_fields_delete"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][owndata]" class="custom_fields_0" value="custom_fields_owndata" {{#ifCond this.access_type.customfield.owndata "==" "custom_fields_owndata"}} checked {{/ifCond}}></td> 
									</tr> 
								</tbody>
								</table>
										<div class="form-actions left">
											<button type="submit" class="btn btn-secondary">
												<i class="fa fa-check-square-o"></i>{{#with ..}}{{__ "Submit" setlang}}{{/with}}
											</button>
											<button type="reset" class="btn btn-warning">
												<i class="ft-refresh-cw"></i>{{#with ..}}{{__ "Reset" setlang}}{{/with}}
											</button>
										</div>
							</div>
						</form>
									{{/ifCond}}
							{{/each}} 
						{{else}}
						<form  action="/accessrights/accessright" method="POST"  enctype="multipart/form-data">
								<input type="hidden" name="id" value="{{access_data._id}}" id="{{role_data._id}}"> 
								<input type="hidden" name="role_name" value="{{role_data.role_slug}}" id="{{role_data.role_slug}}"> 						
								<div class="table-responsive">
								<table id="dataTables-example" class="display table table-bordered table-striped">
									<thead>
										<tr class="text-center">
											<th class="text-left">{{#with ..}}{{__ "Module Name" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "View" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Add" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Update" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Delete" setlang}}{{/with}}</th>
											<th>{{#with ..}}{{__ "Own data" setlang}}{{/with}}</th>
										</tr>
									</thead>
								<tbody>
									<tr> 
										<td class=" skin skin-flat" value="user" >{{#with ..}}{{__ "Users" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][view]"  class="main_access" data-for="user" value="user_view" {{#ifCond this.access_type.user.view "==" "user_view"}} checked {{/ifCond}}> 
										</td> 
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][add]" class="user_0" value="user_add" {{#ifCond this.access_type.user.add "==" "user_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][update]" class="user_0" value="user_update"  {{#ifCond this.access_type.user.update "==" "user_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][delete]" class="user_0" value="user_delete" {{#ifCond this.access_type.user.delete "==" "user_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[user][owndata]" class="user_0" value="user_owndata"   {{#ifCond this.access_type.user.owndata "==" "user_owndata"}} checked{{/ifCond}}>
										</td> 
									</tr> 
									<!--Types Of Loans Rights -->
									<tr>
										<td class=" skin skin-flat" value="typeofloan" >{{#with ..}}{{__ "Loan Type" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="typeofloan" name="accessrights[typeofloan][view]" value="typeofloan_view" {{#ifCond this.access_type.typeofloan.view "==" "typeofloan_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[typeofloan][update]" class="custom_fields_0" value="ltypeofloan_update" {{#ifCond this.access_type.typeofloan.update "==" "typeofloan_update"}} checked {{/ifCond}}  >
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Loan List Access Rights -->
									<tr>
										<td class="skin skin-flat" value="loanlist" >{{#with ..}}{{__ "Loan List" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][view]" data-row="0" class="main_access" data-for="custom_fields" value="loan_list_view" {{#ifCond this.access_type.loanlist.view "==" "loan_list_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][add]" class="custom_fields_0" value="loan_list_add" {{#ifCond this.access_type.loanlist.add "==" "loan_list_add"}} checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][update]" class="custom_fields_0" value="loan_list_update" {{#ifCond this.access_type.loanlist.update "==" "loan_list_update"}} checked {{/ifCond}}  >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][delete]" class="custom_fields_0" value="loan_list_delete" {{#ifCond this.access_type.loanlist.delete "==" "loan_list_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[loanlist][owndata]" class="custom_fields_0" value="loan_list_owndata" {{#ifCond this.access_type.loanlist.owndata "==" "loan_list_owndata"}} checked {{/ifCond}} >
										</td>
									</tr>
									<!-- Product Rights-->
									<tr>
										<td class="skin skin-flat" value="product" >{{#with ..}}{{__ "Product" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][view]" data-row="0" class="main_access" data-for="custom_fields" value="product_view" {{#ifCond this.access_type.product.view "==" "product_view"}} checked {{/ifCond}}> 
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][add]" class="custom_fields_0" value="product_add" {{#ifCond this.access_type.product.add "==" "product_add"}} {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][update]" class="custom_fields_0" value="product_update" {{#ifCond this.access_type.product.update "==" "product_update"}} {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][delete]" class="custom_fields_0" value="product_delete" {{#ifCond this.access_type.product.delete "==" "product_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[product][owndata]" class="custom_fields_0" value="product_owndata" {{#ifCond this.access_type.product.owndata "==" "product_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Rules and Regulation Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="rulesandregulation" >{{#with ..}}{{__ "Rules and Regulation" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="customer_info" name="accessrights[rulesandregulation][view]" value="rules_and_regulation_view" {{#ifCond this.access_type.rulesandregulation.view "==" "rules_and_regulation_view"}} checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="customer_info_0" name="accessrights[rulesandregulation][add]" value="rules_and_regulation_add" {{#ifCond this.access_type.rulesandregulation.add "==" "rules_and_regulation_add"}} checked  {{/ifCond}} ></td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="customer_info_0" name="accessrights[rulesandregulation][update]" value="rules_and_regulation_update" {{#ifCond this.access_type.rulesandregulation.update "==" "rules_and_regulation_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[rulesandregulation][delete]" class="custom_fields_0" value="rules_and_regulation_delete" {{#ifCond this.access_type.rulesandregulation.delete "==" "rules_and_regulation_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[rulesandregulation][owndata]" class="customer_info_0" value="rules_and_regulation_owndata" {{#ifCond this.access_type.rulesandregulation.owndata "==" "rules_and_regulation_owndata"}} checked {{/ifCond}} ></td>
									</tr>
									<!--Alerts Rights -->
									<tr>
										<td class=" skin skin-flat" value="alert" >{{#with ..}}{{__ "Alerts" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="email_log" name="accessrights[alert][view]" value="view_alert" {{#ifCond this.access_type.alert.view "==" "view_alert"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[alert][delete]" value="clear_alert" {{#ifCond this.access_type.alert.delete "==" "clear_alert"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[alert][owndata]" class="email_log_0" value="alert_owndata" {{#ifCond this.access_type.alert.owndata "==" "alert_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Report Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="report" >{{#with ..}}{{__ "Reports" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="report" name="accessrights[report][view]" value="report_view" {{#ifCond this.access_type.report.view "==" "report_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Service Access Rights -->
									<tr>
										<td class="skin skin-flat" value="service" >{{#with ..}}{{__ "Service" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[service][view]"  value="service_view" {{#ifCond this.access_type.service.view "==" "service_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[service][add]" value="service_add" {{#ifCond this.access_type.service.add "==" "service_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[service][update]" value="service_update" {{#ifCond this.access_type.service.update "==" "service_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[service][delete]" value="service_delete" {{#ifCond this.access_type.service.delete "==" "service_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[service][owndata]" class="notification_template_0" value="service_owndata" {{#ifCond this.access_type.service.owndata "==" "service_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Category Access Rights -->
									<tr>
										<td class="skin skin-flat" value="category" >{{#with ..}}{{__ "Category" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[category][view]"  value="category_view" {{#ifCond this.access_type.category.view "==" "category_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[category][add]" value="category_add" {{#ifCond this.access_type.category.add "==" "category_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[category][update]" value="category_update" {{#ifCond this.access_type.category.update "==" "category_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[category][delete]" value="category_delete" {{#ifCond this.access_type.category.delete "==" "category_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[category][owndata]" class="notification_template_0" value="category_owndata" {{#ifCond this.access_type.category.owndata "==" "category_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Events Access Rights -->
									<tr>
										<td class="skin skin-flat" value="events" >{{#with ..}}{{__ "Events" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[events][view]"  value="events_view" {{#ifCond this.access_type.events.view "==" "events_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[events][add]" value="events_add" {{#ifCond this.access_type.events.add "==" "events_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[events][update]" value="events_update" {{#ifCond this.access_type.events.update "==" "events_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="email_log_0" name="accessrights[events][delete]" value="events_delete" {{#ifCond this.access_type.events.delete "==" "events_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[events][owndata]" class="notification_template_0" value="events_owndata" {{#ifCond this.access_type.events.owndata "==" "events_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Notification Template Access Rights -->
									<tr>
										<td class="skin skin-flat" value="notification" >{{#with ..}}{{__ "Notification Template" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="notification_template" name="accessrights[notification][view]"  value="notifications_view" {{#ifCond this.access_type.notification.view "==" "notifications_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[notification][add]" value="notifications_add" {{#ifCond this.access_type.notification.add "==" "notifications_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="notification_template_0" name="accessrights[notification][update]" value="notifications_update" {{#ifCond this.access_type.notification.update "==" "notifications_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[notification][owndata]" class="notification_template_0" value="notification_template_owndata" {{#ifCond this.access_type.notification.owndata "==" "notification_template_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!--Roles Access Rights -->
									<tr>
										<td class=" skin skin-flat" value="role" >{{#with ..}}{{__ "Roles" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="role" name="accessrights[role][view]" value="roles_view" {{#ifCond this.access_type.role.view "==" "roles_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][add]" value="roles_add" {{#ifCond this.access_type.role.add "==" "roles_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][update]"  value="roles_update" {{#ifCond this.access_type.role.update "==" "roles_update"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="role_0" name="accessrights[role][delete]" value="roles_delete" {{#ifCond this.access_type.role.delete "==" "roles_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[role][owndata]" class="role_0" value="roles_owndata" {{#ifCond this.access_type.role.owndata "==" "roles_owndata"}} checked {{/ifCond}}>
										</td>
									</tr>
									<!-- Access Rights -->
									<tr>
										<td class="skin skin-flat" value="access" >{{#with ..}}{{__ "Access Rights" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="accessright" name="accessrights[access][view]" value="access_view" {{#ifCond this.access_type.access.view "==" "access_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Reminder Access Rights -->
									<tr>
										<td class="skin skin-flat" value="reminder" >{{#with ..}}{{__ "Reminders" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" data-row="0" class="main_access" data-for="reminder" name= "accessrights[reminder][view]" value="reminder_view" {{#ifCond this.access_type.reminder.view "==" "reminder_view"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name= "accessrights[reminder][add]" value="reminder_add" {{#ifCond this.access_type.reminder.add "==" "reminder_add"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name="accessrights[reminder][update]" value="reminder_edit" {{#ifCond this.access_type.reminder.update "==" "reminder_edit"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" class="reminder_0" name="accessrights[reminder][delete]" value="reminder_delete" {{#ifCond this.access_type.reminder.delete "==" "reminder_delete"}} checked {{/ifCond}}>
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name= "accessrights[reminder][owndata]" class="reminder_0" value="reminder_owndata" {{#ifCond this.access_type.reminder.owndata "==" "reminder_owndata"}} checked {{/ifCond}}>
										</td>
									</tr> 
									<!--General Settings -->
									<tr>
										<td class=" skin skin-flat" value="generalsetting">{{#with ..}}{{__ "General Settings" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name= "accessrights[generalsetting][update]" class="general_settings0" value="general_settings" {{#ifCond this.access_type.generalsetting.update "==" "general_settings"}} checked{{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"></td>
										<td class="text-center skin skin-flat"></td>
									</tr>
									<!--Custom Fields Access Rights -->
									<tr>
										<td class="skin skin-flat" value="customfield" >{{#with ..}}{{__ "Custom Fields" setlang}}{{/with}}</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][view]" data-row="0" class="main_access" data-for="customfield" value="custom_fields_view" {{#ifCond this.access_type.customfield.view "==" "custom_fields_view"}} Checked {{/ifCond}} >
										</td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][add]" class="custom_fields_0" value="custom_fields_add" {{#ifCond this.access_type.customfield.add "==" "custom_fields_add"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][update]" class="custom_fields_0" value="custom_fields_update" {{#ifCond this.access_type.customfield.update "==" "custom_fields_update"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][delete]" class="custom_fields_0" value="custom_fields_delete" {{#ifCond this.access_type.customfield.delete "==" "custom_fields_delete"}} checked {{/ifCond}}></td>
										<td class="text-center skin skin-flat"><input type="checkbox" name="accessrights[customfield][owndata]" class="custom_fields_0" value="custom_fields_owndata" {{#ifCond this.access_type.customfield.owndata "==" "custom_fields_owndata"}} checked {{/ifCond}}></td>
									</tr> 
								</tbody>
								</table>
										<div class="form-actions left">
											<button type="submit" class="btn btn-secondary" onclick="return ValidateExtension()">
												<i class="fa fa-check-square-o"></i>{{#with ..}}{{__ "Submit" setlang}}{{/with}}
											</button>
											<button type="reset" class="btn btn-warning">
												<i class="ft-refresh-cw"></i>{{#with ..}}{{__ "Reset" setlang}}{{/with}}
											</button>
										</div>
							</div>
						</form> 	
								{{/check_value_in}} 
					</div>
				</div>
			</div>
			</div>
		</div> 														   
				
			{{/each}}	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {	
		//$( '.default' ).addClass( 'active' );

		$( 'ul.nav link' ).on( 'click', function() {
            $( this ).parent().find( 'li.active' ).removeClass( 'active' );
            $( this ).addClass( 'active' );
			//$('.default').removeClass('active');
		});

        $('.main_access').each(function() {
            if (!$(this).prop("checked")) {
                $(this).closest('tr').find("input").each(function() {
                    $(this).iCheck("disable");
                    $(this).iCheck("uncheck");
                    $(this).prop('checked', false);
                    $(this).attr("disabled", true);
                });
            }
            $(this).iCheck("enable");
            $(this).attr("disabled", false);
        });
        $(".main_access").on('ifChecked', function(event) {
            $(this).closest('tr').find("input").each(function() {
                $(this).iCheck("enable");
                $(this).removeAttr("disabled");
            });
            $(this).iCheck("enable");
            $(this).attr("disabled", false);
        });
        $(".main_access").on('ifUnchecked', function(event) {
            $(this).closest('tr').find("input").each(function() {
                $(this).iCheck("disable");
                $(this).iCheck("uncheck");
                $(this).prop('checked', false);
                $(this).attr("disabled", true);
            });
            $(this).iCheck("enable");
            $(this).attr("disabled", false);
        }); 
    });
</script> 