{{breadcrums (__ "Home") (__ "Activity Log")}}
<div class="app-content center-layout mt-2 mx-md-3 px-1">
    <div class="content-wrapper">
	<div class="row">
	<div class="col-md-12">
	<div class="card">
	<div class="card-content collpase show">
		{{#if messages.error  }}
			<script>
					toastr.error("{{messages.error}}","{{__ 'Error!'}}" , {"showMethod": "fadeIn", "hideMethod": "fadeOut", timeOut: 5000});
				</script>
			{{/if}}
			{{#if messages.success }}
				<script>
					toastr.success("{{messages.success}}","{{__ 'Success!'}}", {"showMethod": "fadeIn", "hideMethod": "fadeOut", timeOut: 5000});
				</script>
			{{/if}}
	<div class="card-body">
		<div class="app-content center-layout  mx-md-3 px-1">
					<div class="content-wrapper">
						<div class="card-content collpase show">
						 <section id="configuration">
							<div class="row">
							<div class="col-12">
								<div class="card">
								<div class="card-content collapse show">
								<div class="card-body card-dashboard card-design p-0">
								<section id="horizontal">
									<div class="row">
									<div class="col-12">
									<!-- {{#each activity}} -->
										<!-- <button type="button" {{#ifCond this.module "==" "Log"}}style="display:none"{{else}}{{/ifCond}} class="btn btn-danger m-1" id="clearlog">Clear log</button> -->
									<!-- {{/each}} -->
									{{#if (eq session.admin_access 1)}}
									<button type="button" class="btn btn-danger my-1" style="float:right" id="clearlog">{{__ "Clear Log"}}</button>
									
									{{/if}}
									</div>
									<div class="col-12">
										<div class="card">
										<div id="tableBox">
										<table class="table designtable">
										<tbody>
										{{#if activity}}
										{{#each activity as |result|}}
										<tr class="colortr"> 
											{{#each ../user as |data|}}
											<td class="bordertop">
												{{data.firstname}} {{data.middlename}} {{data.lastname}} {{result.action}} {{result.item}} on {{getdate result.date ../../session.generaldata.date_format}} in {{result.module}}
											</td>
											{{/each}}
										</tr>
										{{/each}}
										{{else}}
										<tr class="colortr"><td class="bordertop">{{__ "Log clear"}}</td> </tr>
										{{/if}}
										
										</tbody></table>
										</div>
										</div>
									</div>
									</div>
								</section>
								</div>
								</div>
								</div>
							</div>
							</div>
						</section>
					</div>
					</div>
					</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
<script>
$(document).ready(function(){
    $("body").on("click", "#clearlog", function (e) {
        // Display a confirmation dialog
        var isConfirmed = confirm("{{__ "Are you sure you want to clear the log?"}}");
        
        // If the user clicks OK, proceed with clearing the log
        if (isConfirmed) {
            $.ajax({
                type: "POST",
                url: '/ajxfun/clearlog',
                success: function(data) {
                    // Handle success, e.g., refresh the page or update the UI
					location.reload();
                   toastr.success("{{__ 'Log cleared successfully!'}}", "{{__ 'Success!'}}", {"showMethod": "fadeIn", "hideMethod": "fadeOut", timeOut: 5000});

                },
                error: function(error) {
                    // Handle error, e.g., show an error message
                    toastr.error("{{__ 'Error clearing log. Please try again.'}}", "{{__ 'Error!'}}", {"showMethod": "fadeIn", "hideMethod": "fadeOut", timeOut: 5000});
                }
            });
        }
    });
});
</script>