<!-- <h1>{{message}}</h1> -->
<!-- <h2>{{error.status}}</h2> -->
<!-- <pre>{{error.stack}}</pre> -->

<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="flexbox-container" id="NF_loginpg">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-10 col-10 p-0 top">
				<div class="app-content container center-layout pt-2">
		<div class="content-wrapper">
			<!--Bug 448-->
<div class="content-body">
	<section class="flexbox-container">
		<div class="col-12 d-flex align-items-center justify-content-center">
			<div class="col-md-10 col-10 p-0">
				<div class="card-header bg-transparent border-0">
					<h1 class="text-center mb-1"><img class="img-fluid" src="https://test.accounts.niftysol.com/public/app-assets/images/nifty.png"></h1>
					<h1 class="text-center error-code">{{statuscode}}</h1>
					<h2 class="text-center error-code">{{message}}</h2>					
					<h2>{{error.status}}</h2>
					<pre>{{error.stack}}</pre>
				</div>
				<div class="card-content">
					<div class="row py-2">
						<div class="col-12 text-center"> 
							<a href="/" class="btn btn-red col-5"><i class="ft-home"></i> Back to Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
			 		</div>
	</div>
                     
             </div>
           </div>
         </div>
       </section>
     </div>
</div>
  