{{breadcrums (__ "Home") (__ "Dashboard") }}

<div class="app-content center-layout mt-2 mx-md-3 px-1">
    <div class="content-wrapper">
        <div class="content-body">
        <!-- Stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-12 block_four">
            <div class="card">
              <div class="card-content">
			  <a href="/users/userlist">
                <div class="media align-items-stretch">
                  <div class="p-1 text-center block_first bg-darken-2">
                    <i class="icon-camera font-large-1 white"></i>
					 
                  </div>
                  <div class="p-1 block_first white media-body">
                    <h5 class="text-uppercase">{{__ "Total Customer"}}</h5>
                    <h5 >{{this.activecount}}</h5>
                    <div class="progress mt-0 mb-1" style="height: 2px;">
                            <div class="progress-bar" role="progressbar" style="width: {{this.activecount}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <!-- <h5 class="text-bold-400 mb-0"></i>{{__ "3% Increase.."}}</h5> -->
                    <h5 class="text-bold-400 mb-0"></i>{{this.activecount}}{{__ "% Increase.."}}</h5>
                  </div>
                </div>
				</a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12 block_four">
            <div class="card">
              <div class="card-content">
			  <a href="/loan/totalloans">
                <div class="media align-items-stretch">
                  <div class="p-1 text-center block_second bg-darken-2">
                    <i class="ft-eye font-large-1 white"></i>
                  </div>
                  <div class="p-1 block_second white media-body">
                    <h5 class="text-uppercase">{{__ "Total Loan"}}</h5>
                    <h5>{{this.loans}}</h5>
					 <div class="progress mt-0 mb-1" style="height: 2px;">
                            <div class="progress-bar" role="progressbar" style="width: {{this.loans}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <h5 class="text-bold-400 mb-0"></i>{{this.loans}}{{__ "% Increase.."}}</h5>
                  </div>
                </div>
				</a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12 block_four">
            <div class="card">
              <div class="card-content">
			  <a href="/loan/loanlist">
                <div class="media align-items-stretch ">
                  <div class="p-1 text-center bg-darken-2 block_violet">
                    <i class="ft-download-cloud font-large-1 white"></i>
                  </div>
                  <div class="p-1 white media-body block_violet">
                    <h5 class="text-uppercase">{{__ "Completed loan"}}</h5>
					<h5>{{this.loanno}}</h5>
					 <div class="progress mt-0 mb-1" style="height: 2px;">
                            <div class="progress-bar" role="progressbar" style="width: {{this.loanno}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <h5 class="text-bold-400 mb-0"></i>{{this.loanno}} {{__ "% Increase.."}}</h5>
                  </div>
                </div>
				</a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12 block_four">
            <div class="card">
              <div class="card-content">
			  <a href="/loan/disapproveloan">
                <div class="media align-items-stretch">
                  <div class="p-1 text-center bg-red bg-accent-4 bg-darken-2">
                    <i class="fa fa-comment-o font-large-1 white"></i>
                  </div>
                  <div class="p-1 bg-red bg-accent-4 white media-body">
                    <h5 class="text-uppercase">{{__ "Failed Loan"}}</h5>
                    <h5>{{this.num_of_disloan}}</h5>
					 <div class="progress mt-0 mb-1" style="height: 2px;">
                            <div class="progress-bar" role="progressbar" style="width: {{this.num_of_disloan}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <h5 class="text-bold-400 mb-0">{{this.num_of_disloan}} {{__ "% Increase.."}}</h5>
                  </div>
                </div>
				</a>
              </div>
            </div>
          </div>
        </div>
       <!--/ Stats -->
        <!--Product sale & buyers -->
        <div class="row match-height" id="calendar">
          <div class="col-12 col-md-12 col-lg-12 EMI-CAL">
		<div class="card">
		  <div class="card-header border-bottom border-light">
			<h4 class="card-title text-capitalize">{{__ "calcultor"}}</h4>
			<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
		  </div>
		  <div class="card-content px-1">
			<div id="recent-buyers" class="media-list">
			  <div class="card-content">
				
				<section id="calculator" class="row">
					<div class="col-12 col-md-12 col-lg-6 pr-0">
						<div class="form-group ">
							<div class="row mb-1 input">
								<div class="col-lg-8 col-md-12 pr-md">
								<h5>{{__ "Loan Amount"}} ({{{currencyList session.generaldata.currency}}})</h5>
								  <div id="snap" class="my-1"></div>
								</div>
								<div class="col-lg-3 col-md-12 prr-mdd">
								  <div class="loan_amount col-md-12 form-control border-light"></div>
								</div>
							</div>
							<div class="row mb-1">
								<div class="col-lg-8 col-md-12 pr-md">
									<h5>{{__ "Interest Rate"}}</h5>
								  <div id="Interest_Rate_id" class="my-1"></div>
								</div>
								<div class="col-lg-3 col-md-12 prr-mdd">
								  <div class="Interest_Rate input-group"></div>
								</div>
							</div>
							<div class="row mb-1">
								<div class="col-lg-8 col-md-12 pr-md">
									<h5>{{__ "Loan Term"}}</h5>
								  <div id="Loan_Term_id" class="my-1"></div>
								</div>
								<div class="col-lg-3 col-md-12 prr-mdd">
								  <div class="Loan_Term input-group"></div>
								</div>
							</div>
						</div>
						<div class="homeLoanEMI mt-2 mb-2" style="padding-left: 18px;">
            <h3> {{__ "Monthly EMI"}} ({{{currencyList session.generaldata.currency}}}) : <strong class="monthly_emi_r"></strong></h3>
						</div>
						<div class="Total_amont">
						<table class="table">
							<tr>
								<td>{{__ "Principal"}} ({{{currencyList session.generaldata.currency}}}) : </td>
								<td class="loan_data"></td>
							</tr>
							<tr>
								<td>{{__ "Interest Payable"}} ({{{currencyList session.generaldata.currency}}}) : </td>
								<td class="total_in"></td>
							</tr>
							<tr>
								<td>{{__ "Total Amount Payable"}} ({{{currencyList session.generaldata.currency}}}) : </td>
								<td class="total_pay"></td>
							</tr>
						</table>
					</div>
					</div>
					<div class="col-12 col-md-12 col-lg-6 ">
					
					<section id="chartjs-pie-charts">
				 
						<div id="doughnut_ex" class="height-400 echart-container chart-container"></div>
						
					</section>
					
				 </div>
				</section>
		  </div>
			</div>
		  </div>
        </div>
        </div>
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body px-0">

				 <ul class="nav nav-tabs nav-underline border-bottom border-light px-1">
                      <li class="nav-item">
                        <a class="nav-link border-bottom-accent-2 active" id="homeIcon1-tab1" data-toggle="tab" href="#calendatIcon11" aria-controls="calendatIcon11"
                        aria-expanded="true"><i class="fa fa-calendar"></i>{{__ "Calendar"}}</a>
                      </li>
					  <li class="nav-item">
                        <a class="nav-link" id="aboutIcon11-tab1" data-toggle="tab" href="#aboutIcon11" aria-controls="aboutIcon11"
                        aria-expanded="false"><i class="fa fa-clock-o"></i>{{__ "Reminders"}}</a>
                      </li> 
					  <li class="nav-item">
                        <a class="nav-link" id="Notices-tab1" data-toggle="tab" href="#Notices" aria-controls="Notices"
                        aria-expanded="false"><i class="fa fa-bullhorn"></i> {{__ "Events"}}</a>
                      </li>
				
                    </ul>
                    
					 <div class="tab-content px-1 pt-1 mrbt">
                      <div role="tabpanel" class="tab-pane active in" id="calendatIcon11" aria-labelledby="homeIcon1-tab1"
                      aria-expanded="true">
                        
					 <!-- Full calendar basic example section start -->
						<section id="basic-examples">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-content collapse show">
											<div class="card-body123 ">
												<div id='dashboard_calendar'>
                          <input type="hidden" value="{{this.calendar_data}}" id="calendar_data">
                        </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
        <!-- // Full calendar basic example section end -->
       </div>
       {{!-- {{#ifCond session.admin_access "==" 1}}  --}}
			{{#hiddenmodules session.access_rights.reminder.view session.admin_access}}
		<div role="tabpanel" class="tab-pane" id="aboutIcon11" aria-labelledby="MyTask-tab1"
                      aria-expanded="true">
            <div class="card-content">
              <div class="card-body pl-0 pr-0">
<div class="row" style="">
                
<div class="col-lg-12 col-md-12 mb-2 remider_list">
				{{#if Reminder}}
					{{#each Reminder as |data_emi|}}
						<div class="bs-callout-info callout-bordered mt-1">
						  <div class="media align-items-stretch">
							<div class="media-left media-middle bg-info icon_reminder p-2">
								<i class="fa fa-bell white font-medium-5"></i>
							</div>
							<div class="media-body p-1">
							  <h4 >{{this.reminder_nm}}</h4>
							  <p>{{this.reminder_desc}}</p>
							</div>
							<div class="media-right media-middle bg-info p-2">
								<p>{{ humanize this.reminder_type }}</p>
							</div>
						  </div>
						</div>
					{{/each}}
				{{else}}
				<h4 class="mb-1 mt-1 ml-1">No Remiders Found.</h4>
				{{/if}}
				</div>
              </div>
              </div>
              </div>
          
                      </div> 
                       {{/hiddenmodules}}
                       {{!-- {{/ifCond}} --}}
       {{!-- {{#ifCond session.admin_access "==" 0}} 
			{{#hiddenmodules session.access_rights.reminder.view session.admin_access}}
		<div role="tabpanel" class="tab-pane" id="aboutIcon11" aria-labelledby="MyTask-tab1"
                      aria-expanded="true">
            <div class="card-content">
              <div class="card-body pl-0 pr-0">
<div class="row" style="">
                
<div class="col-lg-12 col-md-12 mb-2 remider_list">
		{{#if Reminder}}
			{{#each Reminder as |data_emi|}}
				<div class="bs-callout-info callout-bordered mt-1">
				  <div class="media align-items-stretch">
					<div class="media-left media-middle bg-info icon_reminder p-2">
						<i class="fa fa-bell white font-medium-5"></i>
					</div>
					<div class="media-body p-1">
					  <h4 >Upcoming EMI Payment of {{this.user.firstname}} {{this.user.lastname}}.</h4>
					  <p>You EMI month {{data_emi.date}}. Your EMI month payment is {{formatNumber data_emi.totalpayment 2 '.'','}} for loan No is {{data_emi.loan.loancount}}.</p>
					</div>
					<div class="media-right media-middle bg-info p-2">
						<p><i class="fa fa-calendar white font-medium-5"></i>{{data_emi.date}}</p>
					</div>
				  </div>
				</div>
			{{/each}}
		{{else}}
		<h4 class="mb-1 mt-1 ml-1">No Remiders Found.</h4>
		{{/if}}
		</div>
              </div>
              </div>
              </div>
          
                      </div> 
                       {{/hiddenmodules}}
                       {{/ifCond}} --}}
					 {{#hiddenmodules session.access_rights.events.view session.admin_access}}
             <div role="tabpanel" class="tab-pane" id="Notices" aria-labelledby="Notices-tab1"
                      aria-expanded="true">
            <div class="card-content">                
                <div class="table-responsive">				 
                  <table id="recent-orders" class="table table-borderless mb-0 recent-events">
                    <thead>
                      <tr>
                        <th>{{__ "Event title"}}</th>
                        <th>{{__ "Event Description"}}</th>
                        <th>{{__ "Start Date"}}</th>
                        <th>{{__ "End Date"}}</th>
                        {{!-- <th>{{__ "By Staff"}}</th> --}}
		               </tr>
                    </thead>
                    <tbody>
					{{#each events}}

<tr onclick="redirectToEvent('/events/viewevent/{{this._id}}')" {{#if isAddedByLoggedInUser}} style="background-color: #16D39A;" {{/if}}>
    <td class="text-truncate">{{this.eventtitle}}</td>
    <td class="text-truncate">{{displayOrNA this.eventdetail}}</td>
    <td class="text-truncate">{{ this.startdate}}</td>
    <td class="text-truncate">{{ this.enddate}}</td>
    {{!-- {{#if isAddedByLoggedInUser}}
            <td class="text-truncate"><i class="fa fa-user"></i></td>
        {{else}}
            <td class="text-truncate"></td>
        {{/if}} --}}
</tr>
                     {{/each}}

                     <script>
    function redirectToEvent(url) {
        window.location.href = url;
    }
</script>

                    </tbody>
                  </table>
                </div>
              </div>
          </div>  
           {{/hiddenmodules}}
                </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12 Buyers d-flex flex-column justify-content-between">
            {{#hiddenmodules session.access_rights.user.view session.admin_access}}
            <div class="card">
              <div class="card-header border-bottom border-light">
                <h4 class="card-title text-capitalize">{{__ "Active Users"}}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
					<a href="/users/userlist" title="{{__ "View Customers"}}"><i class="ft-external-link"></i></a>
				</div>
              </div>
              <div class="card-content px-1">
                <div id="recent-buyers" class="media-list height-300 position-relative">
				{{#each userdata}}
                  <a href="/users/viewuser/{{this._id}}" class="media border-0 media-sm">
                    <div class="media-left pr-1">
                      <span class="avatar avatar-md avatar-online">
                        <img class="media-object avatar avatar-online roundimage image-height" src="/images/upload/{{this.photo}}"
                        alt="Generic placeholder image">
                        <i></i>
                      </span>
                    </div>
                    <div class="media-body w-100">
                      <h6 class="list-group-item-heading">{{this.firstname}} {{this.middlename}} {{this.lastname}}
                        <!-- <span class="font-medium-1 float-right pt-1 text-bold-500">$1,021</span> -->
                      </h6>
                      <p class="list-group-item-text mb-0">
                        <span class="badge badge-warning ml-1">{{this.occupation}}</span>
                      </p>
                    </div>
                  </a>
				  {{/each}}
                </div>
              </div>
            </div>
            {{/hiddenmodules}}
			
			<!-- failed order   --->
      {{#hiddenmodules session.access_rights.typeofloan.view session.admin_access}}
			<div class="card">
              <div class="card-header border-bottom border-light">
                <h4 class="card-title text-capitalize">{{__ "Types of Loan"}}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
					<a href="/loan/loantypelist" title="{{__ "View Loan types" }}"><i class="ft-external-link"></i></a>
				</div>
              </div>
              <div class="card-content px-1">
                <div id="recent-buyers" class="media-list height-300 position-relative">
                  <div class="card-content">
                
                <div class="table-responsive">
				 
                  <table id="recent-orders" class="table table-borderless mb-0">
                    <thead>
                      <tr>
                        <th>{{__ "Loan Type"}}</th>
						<th>{{__ "Interest Rate"}}</th>	
                      </tr>
                    </thead>
                    <tbody>
					{{#each loandata}}
                      <tr>
                        <td class="text-truncate">
                          <span class="badge badge-default badge-success">{{this.type}}</span>
                        </td>
                        <td class="text-truncate">{{this.interestrate}} %</td>
                      </tr>
					{{/each}}   
                    </tbody>
                  </table>
                </div>
              </div>
                </div>
              </div>
            </div>
            {{/hiddenmodules}}
          </div>
        </div>
        <!--/ Product sale & buyers -->
      {{#hiddenmodules session.access_rights.report.view session.admin_access}}
<div class="row m-0">
    <div class="col-xl-6 padding-right">
        <div class="card">
            <div class="card-header border-bottom border-light">
                <h4 class="card-title text-capitalize">{{__ "Users"}}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <a href="/users/userlist" title="{{__ "View New Customer"}}"><i class="ft-external-link"></i></a>
                </div>
            </div>
            <div class="card-content">
                <div id="piechart" class="chart-container"></div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-6 padding-left">
        <div class="card">
            <div class="card-header border-bottom border-light">
                <h4 class="card-title text-capitalize">{{__ "Loans"}}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <a href="/loan/totalloans" title="{{__ "View New Loan"}}"><i class="ft-external-link"></i></a>
                </div>
            </div>
            <div class="card-content">
                <div id="piechart2" class="chart-container"></div>
            </div>
        </div>
    </div>
</div>
		      {{/hiddenmodules}}
        </div>
		
      </div>
    </div>
	
<!--/ Product sale & buyers -->

<!--   -->
{{!-- <script src="/js/scripts/extensions/lang-all.js"></script> --}}
<script type="text/javascript" src="/js/loader.js"></script>

<script>
function emi_chart(loanAmount, totalInterest, monthlyEMI) {
    // Load the Google Charts library
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Charts library is loaded
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart with loan amount, total interest, and monthly EMI
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Category', 'Value'],
            ['{{__ "Loan Amount"}}', loanAmount],
            ['{{__ "Total Interest"}}', totalInterest],
            {{!-- ['Monthly EMI', monthlyEMI] --}}
        ]);

        var options = {
            title: '{{__ "EMI Calculator"}}',
            pieHole: 0.5,  // Make the hole in the center larger for a creative look
            slices: {
                0: { color: '#3366cc' }, // Loan Amount
                1: { color: '#dc3912' }, // Total Interest
                {{!-- 2: { color: '#ff9900' }   Monthly EMI --}}
            },
            animation: {
                duration: 1000,
                easing: 'out',
            },
            legend: {
                position: 'bottom',
                textStyle: {
                    color: '#555',
                    fontSize: 14,
                },
            },
            titleTextStyle: {
                color: '#333',
                fontSize: 24,  // Increase title font size for emphasis
                bold: true,  // Make the title bold
            },
            is3D: true,  // Enable 3D chart
            width: '100%',  // Make the chart width 100% of its container
            height: '100%',
            backgroundColor: {
                fill: 'transparent',  // Set background color to transparent for a creative touch
            },
            chartArea: {
                left: '5%',  // Add some margin to the left for better aesthetics
                top: '10%',  // Add some margin to the top for better aesthetics
                width: '90%',
                height: '80%',
            },
        };

        var chart = new google.visualization.PieChart(document.getElementById('doughnut_ex'));
        chart.draw(data, options);
    }
}

  
$(document).ready(function(){
  $.ajax({
				type: 'POST',
				url: '/ajxfun/emi_calculator/',
				headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
				data : {loan_amount:1000000,rate:3,year:3},
				success: function (response)
				{	
					
					{{!-- console.log(response); --}}
						$('.monthly_emi_r').html(parseInt(response.data.monthly_emi));
						$('.loan_data').html(parseInt(response.data.loan_amount));
						$('.total_in').html(parseInt(response.data.totalInterest));
						$('.total_pay').html(parseInt(response.data.total_payment));
						
						emi_chart(parseInt(response.data.loan_amount),parseInt(response.data.totalInterest),parseInt(response.data.monthly_emi),parseInt(response.data.total_payment));
						
				},
				error: function(e) 
				{		
					console.log(e);
				}
			});
var data = $('#calendar_data').val();
$('#dashboard_calendar').fullCalendar({		
			defaultDate: new Date(),
			businessHours: true, // display business hours
			editable: false,
			displayEventTime : false ,
			events : "/ajxfun/mapevents",
			eventRender: function(eventObj, $el) {
			  $el.popover({
				title: eventObj.title,
				content: eventObj.description,
				trigger: 'hover',
				placement: 'top',
				container: 'body'
			  });
			},
      lang: data,			
		});
    /* EMI CALCULATOR */
		loanamountSlider = document.getElementById('snap');
		Interest_Rate_idSlider = document.getElementById('Interest_Rate_id');
		Loan_Term_idSlider = document.getElementById('Loan_Term_id');

		noUiSlider.create(loanamountSlider, {
			start: 100000,
			step: 1000,
			behaviour: 'snap',
			connect: 'lower',
			range: {
				'min': 100000,
				'max': 100000000
			}
		});
		loanamountSlider.noUiSlider.on('update', function (values, handle) {
			$('.loan_amount').html('<input id="loan_amount" type="text" readonly="readonly" value="'+values[handle]+'">');
			
			var loan_amount=values[handle];
			var rate=$('#Interest_Rate').val();
			var year=$('#Loan_Term').val();
			
			$.ajax({
				type: 'POST',
				url: '/ajxfun/emi_calculator/',
				headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
				data : {loan_amount:loan_amount,rate:rate,year:year},
				success: function (response)
				{	
					
					{{!-- console.log(response); --}}
						$('.monthly_emi_r').html(parseInt(response.data.monthly_emi));
						$('.loan_data').html(parseInt(response.data.loan_amount));
						$('.total_in').html(parseInt(response.data.totalInterest));
						$('.total_pay').html(parseInt(response.data.total_payment));
						
						emi_chart(parseInt(response.data.loan_amount),parseInt(response.data.totalInterest),parseInt(response.data.monthly_emi),parseInt(response.data.total_payment));
						
				},
				error: function(e) 
				{		
					console.log(e);
				}
			});
			
		});
		
		noUiSlider.create(Interest_Rate_idSlider, {
			start: 3,
			behaviour: 'snap',
			connect: 'lower',
			range: {
				'min': 2,
				'max': 15
			}
		});
		Interest_Rate_idSlider.noUiSlider.on('update', function (values, handle) {
			$('.Interest_Rate').html('<input id="Interest_Rate" class="form-control" type="text" readonly="readonly" value="'+values[handle]+'"><span class="input-group-addon">p.a</span>');
			
			var loan_amount=$('#loan_amount').val();
			var rate=values[handle];
			var year=$('#Loan_Term').val();
			
			$.ajax({
				type: 'POST',
				url: '/ajxfun/emi_calculator/',
				headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
				data : {loan_amount:loan_amount,rate:rate,year:year},
				success: function (response)
				{	
					
					{{!-- console.log(response); --}}
						$('.monthly_emi_r').html(parseInt(response.data.monthly_emi));
						$('.loan_data').html(parseInt(response.data.loan_amount));
						$('.total_in').html(parseInt(response.data.totalInterest));
						$('.total_pay').html(parseInt(response.data.total_payment));
						
						emi_chart(parseInt(response.data.loan_amount),parseInt(response.data.totalInterest),parseInt(response.data.monthly_emi),parseInt(response.data.total_payment));
					
				},
				error: function(e) 
				{		
					console.log(e);
				}
			});
			
		});
		
		noUiSlider.create(Loan_Term_idSlider, {
			start: 3,
			step: 1,
			behaviour: 'snap',
			connect: 'lower',
			range: {
				'min': 1,
				'max': 30
			}
		});
		Loan_Term_idSlider.noUiSlider.on('update', function (values, handle) {
			$('.Loan_Term').html('<input id="Loan_Term" class="form-control" type="text" readonly="readonly" value="'+values[handle]+'"><span class="input-group-addon">Yrs.</span>');
			
			var loan_amount=$('#loan_amount').val();
			var rate=$('#Interest_Rate').val();
			var year=values[handle];
			
			$.ajax({
				type: 'POST',
				url: '/ajxfun/emi_calculator/',
				headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
				data : {loan_amount:loan_amount,rate:rate,year:year},
				success: function (response)
				{	
					
					{{!-- console.log(response); --}}
						$('.monthly_emi_r').html(parseInt(response.data.monthly_emi));
						$('.loan_data').html(parseInt(response.data.loan_amount));
						$('.total_in').html(parseInt(response.data.totalInterest));
						$('.total_pay').html(parseInt(response.data.total_payment));
						
						emi_chart(parseInt(response.data.loan_amount),parseInt(response.data.totalInterest),parseInt(response.data.monthly_emi),parseInt(response.data.total_payment));
				},
				error: function(e) 
				{		
					console.log(e);
				}
			});
			
		});
	});
</script>
{{!-- <script type="text/javascript" src="/js/loader.js"></script> --}}
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var count = '{{this.activeuser}}'
  var decount = '{{this.deactiveuser}}'
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['{{__ "Active Users" setlang}}', parseInt(count)],
  ['{{__ "Deactive users" setlang}}', parseInt(decount)]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':600, 'height':300};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var loan = '{{this.loanno}}'
  var deloan = '{{this.num_of_disloan}}'
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['{{__ "Approved Loans"}}', parseInt(loan)],
  ['{{__ "Disapproved Loans"}}', parseInt(deloan)]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':600, 'height':300};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart.draw(data, options);
}
</script>
