{{breadcrums (__ 'Home') (__ 'Reports')}}
<div class="app-content container center-layout mt-2">
<div class="content-wrapper">
<div class="content-body">
        <!-- Pie charts section start -->
        <section id="chartjs-pie-charts">
          <div class="row">
            <!-- Simple Pie Chart -->
            <div class="col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">{{__ "Users" setlang}} </h4>
                </div>
                <div class="card-content">
                  <div class="pichartcenter">

                    <div id="piechart" class="chart-container-custom "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Pie charts section end -->
		<!-- Pie charts section start -->
        <section id="chartjs-pie-charts">
          <div class="row">
            <!-- Simple Pie Chart -->
            <div class="col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">{{__ "Loans" setlang}} </h4>
                </div>
                <div class="card-content">
                  <div class="pichartcenter">
                    {{#if this.loanno}}
                    <div id="piechart2" class="chart-container-custom"></div>
                    {{else if this.deloanno}}
                    <div id="piechart2" class="chart-container-custom"></div>
                    {{else}}
                    <div class="no-loans-message"> 
               <div class="no-data-img">
                <img src="/images/upload/generalsetting/no-data.png" width="100%" alt="No Data" class="image-fluid" style="max-height: 600px;">
               </div>
               
              </div>
                    {{/if}}

                    
                </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Pie charts section end -->
      </div>
</div>
</div>

<script type="text/javascript" src="/js/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var count = '{{this.activecount}}'
  var decount = '{{this.deactivecount}}'
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['{{__ "Active Users" setlang}}', parseInt(count)],
  ['{{__ "Deactive Users" setlang}}', parseInt(decount)]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {
    'width':'100%', 
    'height':700,
    'colors': ['#c1a051', '#524f49'],
    };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var loan = '{{this.loanno}}'
  var deloan = '{{this.deloanno}}'
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['{{__ "Approved Loans"}}', parseInt(loan)],
  ['{{__ "Disapproved Loans"}}', parseInt(deloan)]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {
    'width':'100%', 
    'height':700,
    'colors': ['#c1a051', '#524f49'],
    };
  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart.draw(data, options);
}
</script>
<script>
$(document).ready(function () {
  $('.pichartcenter').css({
    'width': '80%',
    'margin': 'auto'
  })
})
</script>
