 <!--Toastr JS-->
	<script src="/stylesheets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
	<script src="/js/scripts/extensions/toastr.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
<!-- END Toastr JS--> 
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
	<div class="navbar-wrapper">
		<div class="navbar-header">
			<ul class="nav navbar-nav flex-row">
				<li class="nav-item mobile-menu d-md-none mr-auto"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
				<li class="nav-item">
					<a href="/" class="navbar-brand">
					<!--<img alt="niffty admin logo" src="/images/Nifty-EWS.png"class="brand-logo nifty-logo">-->
					 <img alt="niffty admin logo" src="/images/upload/generalsetting/{{session.company_logo}}"class="brand-logo nifty-logo"> 
					<!--<h2 class="brand-text">NiftyCRM</h2>-->
					</a>
				</li>
				<li class="nav-item d-md-none">
					<a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a>
				</li>
			</ul>
		</div>
		<div class="navbar-container center-layout mx-sm-3 ">
			<div id="navbar-mobile" class="collapse navbar-collapse">
				<ul class="nav navbar-nav mr-auto float-left">
					<li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs pl-0"><i class="ft-menu"></i></a></li>					
				</ul>
				<ul class="nav navbar-nav float-right">
					<li class="dropdown dropdown-notification nav-item">
						<a href="#" data-toggle="dropdown" class="nav-link nav-link-label"><i class="ficon ft-bell"></i>
							<span class="badge badge-pill badge-default badge-danger badge-default badge-up">{{session.noticount}}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
							<li class="dropdown-menu-header">
								<h6 class="dropdown-header m-0">
									<span class="grey darken-2">{{__ "Notifications"}}</span>
									<span class="notification-tag badge badge-default badge-danger float-right m-0">{{session.noticount}} New</span>
								</h6>
							</li>
							{{#each session.noti}}
							<li class="scrollable-container media-list" id="click_event">
								<a href="/users/viewuser/{{this.user}}">
									<div class="media">
									<div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
										<div class="media-body">
											<h6 class="media-heading">{{this.action}}!</h6>
											<p class="notification-text font-small-3 text-muted">{{this.Name}} {{this.desc}}</p>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
						</ul>
					</li>
				<li class="dropdown dropdown-user nav-item">
				  <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
					<span class="avatar avatar-online roundimage">
					  <img src="/images/upload/{{session.photo}}" alt="avatar"><i></i></span>
					<span class="user-name">{{session.username}}</span>
				  </a>
					
				  <div class="dropdown-menu dropdown-menu-right">
					<a href="/users/editprofile/{{session.user_id}}" class="dropdown-item"><i class="ft-user"></i> {{__ "Edit Profile"}}</a>
				  <div class="dropdown-divider"></div><a href="/logout" class="dropdown-item"><i class="ft-power"></i> {{__ "Logout"}}</a>
				</div>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </nav>  
<!-- Horizontal navigation-->
  <div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border background-image ">
    <!-- Horizontal menu content--> 
    <div data-menu="menu-container" class="navbar-container main-menu-content center-layout menu_back justify-content-center">

      <!-- include ../../../includes/mixins-->
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
        <li data-menu="dropdown" class="dropdown nav-item mr-1">
          <a href="/" class="dropdown-toggle nav-link"><i class="icon-speedometer" aria-hidden="true"></i>
            <span>{{__ "Dashboard"}}</span>
          </a>
        </li>
        <!-- <li class="dropdown nav-item"><a href="../adduser"  class="dropdown-toggle nav-link mr-1"><i class="ft-layout"></i><span>Users</span></a> -->
		{{#hiddenmodules session.access_rights.user.view session.admin_access}}
        <li  class="dropdown nav-item mr-1"><a href="/users/userlist" class="dropdown-toggle nav-link"><i class="ft-users"></i><span>{{__ "Users"}}</span></a>
		{{/hiddenmodules}}
          <!--<ul class="dropdown-menu">
            <li class="dropdown-item"><i class="ft-user" aria-hidden="true"></i>User list</a>
            </li>
			<li class="dropdown-item"><a href="./adduser"><i class="ft-user-plus" aria-hidden="true"></i>Add user</a>
            </li>
           </ul>-->
		   </li>
        </li>
		
          <li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-sliders" aria-hidden="true"></i><span>{{__ "Loan Management"}} <span class="fa fa-angle-down d-none d-md-inline"></span></span></a>
          <ul class="dropdown-menu">
		  
			{{#hiddenmodules session.access_rights.typeofloan.view session.admin_access}}
            <a href="/loan/loantypelist"><li class="dropdown-item"><i class="fa fa-stack-overflow" aria-hidden="true"></i>{{__ "Types of Loans"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.loanlist.view session.admin_access}}
            <a href="/loan/loanlist"><li class="dropdown-item"><i class="fa fa-list-alt" aria-hidden="true"></i>{{__ "Loan List"}}
            </li></a>
			{{/hiddenmodules}}
			
           </ul>
		   </li>
		  
		 {{#hiddenmodules session.access_rights.product.view session.admin_access}}
        <li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="/product/productlist" class="dropdown-toggle nav-link"><i class="icon-bag"></i><span>{{__ "Products"}}</span></a>
		</li>
		{{/hiddenmodules}}
		
		{{#hiddenmodules session.access_rights.alert.view session.admin_access}}
        <li data-menu="megamenu" class="dropdown mega-dropdown nav-item mr-1"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-alert-octagon"></i><span>{{__ "Alerts"}}</span></a> 
        </li>
		{{/hiddenmodules}}
		
        <!--<li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="/report/report" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-bar-chart"></i><span>{{__ "Reports"}}</span></a>
		</li>-->
		<li data-menu="dropdown" class="dropdown mega-dropdown nav-item mr-1">
			<a href="/report/report" class="dropdown-toggle nav-link"><i class="ft-bar-chart"></i>{{__ "Reports"}}
			</a>
		</li>

        <li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="/generalsetting" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="fa fa-wrench custom_height_width_icons"></i><span>{{__ "Services"}} <span class="fa fa-angle-down d-none d-md-inline"></span></span></a>
			<ul class="dropdown-menu">
			
			{{#hiddenmodules session.access_rights.service.view session.admin_access}}
            <a href="/service/servicelist"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Service List"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.category.view session.admin_access}}
			<a href="/category/categorylist"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Category List"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.events.view session.admin_access}}
			<a href="/events/eventlist"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Events"}}
            </li></a>	
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.rulesandregulation.view session.admin_access}}
			<a href="/rule/rules"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Rules and Regulations"}}
            </li></a>
			{{/hiddenmodules}}
			
			</ul>
		</li>
		
		<li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="/generalsetting" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="fa ft-list custom_height_width_icons"></i><span>{{__ "Others"}} <span class="fa fa-angle-down d-none d-md-inline"></span></span></a>
			<ul class="dropdown-menu">
			
			{{#hiddenmodules session.access_rights.notification.view session.admin_access}}
				<a href="/notification/notificationtemplate"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Notification Template"}}
				</li></a>	
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.customfield.view session.admin_access}}
			<a href="/notes/notelist"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Notes"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.customfield.view session.admin_access}}
			<a href="/activitylog/activitylog"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Activity Log"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.customfield.view session.admin_access}}
			<a href="/impersonate/impersonateuser"><li class="dropdown-item"><i class="fa fa-envelope-o custom_height_width_icons"></i>{{__ "Impersonate"}}</li></a>
			{{/hiddenmodules}}	
			
			</ul>
		</li>
        <li data-menu="dropdown" class="dropdown nav-item mr-1"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="fa fa-cogs"></i><span>{{__ "Setup"}} <span class="fa fa-angle-down d-none d-md-inline"></span></span></a>
          <ul class="dropdown-menu">
		  
		    {{#hiddenmodules session.access_rights.role.view session.admin_access}}
            <a href="/role/roles"><li class="dropdown-item"><i class="fa fa-child custom_height_width_icons"></i>{{__ "Roles"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.access.view session.admin_access}}
			<a href="/accessrights/accessright"><li class="dropdown-item"><i class="fa fa-key custom_height_width_icons"></i>{{__ "Access Rights"}}</li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.reminder.view session.admin_access}}
			<li class="dropdown-item"><a href="/reminder/reminders"><i class="fa fa-clock-o custom_height_width_icons"></i>{{__ "Reminders"}}</a>
            </li>  
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.generalsetting.view session.admin_access}}
			<a href="/generalsettings/generalsetting/{{session.gen_id}}"><li class="dropdown-item"><i class="fa fa-cogs" aria-hidden="true"></i>{{__ "General Settings"}}
            </li></a>
			{{/hiddenmodules}}
			
			{{#hiddenmodules session.access_rights.customfield.view session.admin_access}}
			<a href="/customfields/customfieldlist">
			<li class="dropdown-item"><i class="fa fa-edit custom_height_width_icons"></i>{{__ "Custom Fields"}}</a>
			{{/hiddenmodules}}
            </li>
			</ul>
		</li>
		
		{{#ifCond session.impersondata "!==" ""}}
			<li>
				<a class="blink_impersonate nav-link" id="leaveimpersonate"><span class="draw"><i class="fa fa-unlock-alt custom_height_width_icons"></i>&nbsp;Leave Impersonate</span></a>
			</li>
		{{/ifCond}}
    </div>
    <!-- /horizontal menu content-->
  </div>
<script>
$(document).ready(function(){
	$('body').on('click', '#leaveimpersonate', function() {
		$.ajax({
			type: "POST",
			url: '/',
			data: {'username': "{{session.impersondata.username}}",'password':'{{session.impersondata.password}}'},
		}).done(function(res) {
			window.location.reload(); 
		});
	});
});
</script>
<script>
$(document).ready(function(){
	$('body').on('click', '#click_event', function() {
		$.ajax({
			type: "GET",
			url: '/ajxfun/deletenoti',
		});
	});
});
</script>