  {{breadcrums 'Home' 'Add User Reminder'}}
<div class="app-content center-layout mt-2 mx-md-3 px-1">
<!-- <h1>{{__ "text to test"}}</h1> -->
    <div class="content-wrapper">
	<div class="row">
	<div class="col-md-12">
	<div class="card">
	<div class="card-header pb-0 border-bottom border-light">
		<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
	</div>
	<div class="card-content collpase show">
	<div class="card-body">
	<script>
			$(document).ready(function(){
				$('.beforedate').each(function(){
				$(this).data("DateTimePicker").maxDate(new Date());
				});
				$('.afterdate').each(function(){
				$(this).data("DateTimePicker").minDate(new Date());
				});
				$('.today').each(function(){
				$(this).data("DateTimePicker").minDate(new Date());
				$(this).data("DateTimePicker").maxDate(new Date());
				});
			});
		</script>
		<form id="formID" class="needs-validation form form-horizontal" novalidate method="POST" action="/reminder/addreminder" enctype="multipart/form-data"> 
        {{#each data}}
    <p class="form-section text-bold-600 font-medium-3"><i class="ft-user font-medium-2 mr-1"></i>{{#with ..}}{{__ "Reminder Details" setlang}}{{/with}}</p>
		<div class="form-body user_form">
        <div class="row">
        <div class="col-md-12">
        <div class="form-group input">
        <div class="col-md-12 form-control border-light"> 
			<input type="text" id="userinput1" data-validation-regex-regex="([A-Za-z_, `.'^-]{1,50})" data-validation-regex-message="Only Characters, no numbers" data-validation-required-message="Reminder name is required" name="reminder_nm" {{#if this.reminder_nm}} value="{{this.reminder_nm}}" {{/if}}>
             <label for="userinput1">{{#with ..}}{{__ "Reminder Title" setlang}}{{/with}}<span class="required red">*</span></label> 
        </div><div class="help-block"></div>
        </div>
        </div>
		<div class="col-md-6 mb-2 input">
		<label class="custom-control-label-date ml-2" style="z-index:99">{{#with ..}}{{__ "Reminder Type" setlang}}{{/with}}<span class="required red">*</span></label>
         <select id="reminder_type" required="" class="form-control select2" name="reminder_type">
			 <option value="reminder_type">Select</option>
			 <option value="charged_failed" {{#ifCond this.reminder_type '==' 'charged_failed'}} selected {{/ifCond}}> Subscription Payment Failed</option>
             <option value="upcoming_invoice" {{#ifCond this.reminder_type '==' 'upcoming_invoice'}} selected {{/ifCond}}> Upcoming Invoice</option>
             <option value="invoice_pending" {{#ifCond this.reminder_type '==' 'invoice_pending'}} selected {{/ifCond}}> Invoice Pending</option>
             <option value="customer_subscription_deleted" {{#ifCond this.reminder_type '==' 'customer_subscription_deleted'}} selected {{/ifCond}}> Subscription End</option>
             <option value="customer_source_expiring" {{#ifCond this.reminder_type '==' 'customer_source_expiring'}} selected {{/ifCond}}> Card Expiring</option>
             <option value="customer_registration_failed" {{#ifCond this.reminder_type '==' 'customer_registration_failed'}} selected {{/ifCond}}> Registration Payment Failed</option>
             <option value="customer_unvisited" {{#ifCond this.reminder_type '==' 'customer_unvisited'}} selected {{/ifCond}}> Customer Unvisited</option>
             <option value="new_customer_guidance" {{#ifCond this.reminder_type '==' 'new_customer_guidance'}} selected {{/ifCond}}> New Customer Guidance</option>
             <option value="trial_to_paid" {{#ifCond this.reminder_type '==' 'trial_to_paid'}} selected {{/ifCond}}> Trial To Paid</option>
             <option value="coupon_code_for_trial" {{#ifCond this.reminder_type '==' 'coupon_code_for_trial'}} selected {{/ifCond}}> Coupon Code For Trial Or Canceled Users</option>
		</select>
		</div>
		<div class="col-md-6 mb-2 input">
			<label class="custom-control-label-date ml-2" style="z-index:99">{{#with ..}}{{__ "Notification Template" setlang}}{{/with}}<span class="required red">*</span></label>
            <select id="reminder_template" required="" class="form-control select2" name="reminder_template">
            <option value="reminder_template ">Select</option>
			<option value="signup" {{#ifCond this.reminder_template '==' 'signup'}} selected {{/ifCond}}>Signup</option>            
			<option value="profile_update" {{#ifCond this.reminder_template '==' 'profile_update'}} selected {{/ifCond}}> User Profile Update</option>
            <option value="account_delete" {{#ifCond this.reminder_template '==' 'account_delete'}} selected {{/ifCond}}> Account Delete</option>
            <option value="signup" {{#ifCond this.reminder_template '==' 'signup'}} selected {{/ifCond}}>Signup</option>
            <option value="add_notice" {{#ifCond this.reminder_template '==' 'add_notice'}} selected {{/ifCond}}>Add EMI</option>
            <option value="update_notice" {{#ifCond this.reminder_template '==' 'update_notice'}} selected {{/ifCond}}> Update EMI</option>
            <option value="add_invoice" {{#ifCond this.reminder_template '==' 'add_invoice'}} selected {{/ifCond}}> Add Invoice</option>
            <option value="add_support" {{#ifCond this.reminder_template '==' 'add_support'}} selected {{/ifCond}}> Add Support Ticket</option>
            <option value="registration_failed" {{#ifCond this.reminder_template '==' 'registration_failed'}} selected {{/ifCond}}> Registration Failed</option>
            <option value="invoice_pending" {{#ifCond this.reminder_template '==' 'invoice_pending'}} selected {{/ifCond}}> Invoice Pending</option>
        </select>
       </div>
		<div class="col-md-6">
        <div class="form-group input">
        <div class="col-md-12 form-control border-light textarea_css">
             <div class="form-field">
                 <input type="hidden" id="userinput1" name="id" {{#if this._id}} value="{{this._id}}" {{/if}}>
                 <textarea name="reminder_desc" data-validation-regex-regex="([A-Za-z_, `.'^-]{1,250})" data-validation-regex-message='{{__ "Only Characters, no numbers"}}' {{#if this.reminder_desc}} value="{{this.reminder_desc}}" {{/if}}>{{this.reminder_desc}}</textarea>
                  <span class="txt-title-label"></span>
                  <label class="text-area address">{{#with ..}}{{__ "Description" setlang}}{{/with}}</label>
              </div>
               </div><div class="help-block"></div>
         </div>
        </div>
   </div> 
	<p class="form-section text-bold-600 font-medium-3 border-light"><i class="ft-clock font-medium-2 mr-1"></i>{{#with ..}}{{__ "Reminder Time" setlang}}{{/with}}</p>	
      <div class="addTime">
        <div class="row reminder_div ">         	
 		<div class="col-md-3">
          <div class="form-group">
          <div class="col-md-12 form-control">
          <div class="skin skin-flat row">
           <div class="input-group">
            <label class="custom-control-label custom-top-label ml-2">{{#with ..}}{{__ "Reminder Time" setlang}}{{/with}}<span class="red">*</span></label>
             <div class="d-inline-block custom-control custom-radio mr-1">
				<input type="radio" name="reminder_will_send" class="custom-control-input " {{#ifCond this.reminder_will_send '==' 'Before'}} checked="" value="{{this.reminder_will_send}}" {{/ifCond}} value="Before"  id="yes">
				 <label class="custom-control-label mr-1 " for="yes">{{#with ..}}{{__ "Before" setlang}}{{/with}}</label>
				<input type="radio" name="reminder_will_send" class="custom-control-input" {{#ifCond this.reminder_will_send '==' 'After'}} checked="" value="{{this.reminder_will_send}}" {{/ifCond}} value="After"  id="no">
                <label class="custom-control-label" for="no">{{#with ..}}{{__ "After" setlang}}{{/with}}</label>
			</div> 
            </div>
			</div>
		</div>
		</div>
		</div>	 
				<div class="form-group col-md-9 mb-2 contact-repeater pl-0">
					<div data-repeater-list="reminderdata">
					{{#each this.reminderdata}}
						<div class="row" data-repeater-item>  
							<div class="col-md-4 ">
	                            <div class="col-12">    						
							        <div class="form-group input">
									<input class=" form-control t_d valid mb-2" value="1" type="number" min="1" max="5" name="number"  aria-invalid="false" {{#if this.number}} value="{{this.number}}" {{/if}}>
									</div>
								</div>	
						    </div> 
							<div class="col-md-4 ">
							   <div class="col-12 ">
								<label class="custom-control-label-date ml-2" style="z-index:99">{{#with ..}}{{__ "Select Days" setlang}}{{/with}}<span class="required red">*</span></label> 
								<select class="select1 form-control t_t valid  mb-2" name="recurense"  id="recurense"> 				 
									<option value="days"  {{#ifCond this.recurense '==' 'days'}} value="{{this.recurense}}" selected {{/ifCond}}>Day(s)</option>
									<option value="week" {{#ifCond this.recurense '==' 'week'}} value="{{this.recurense}}" selected {{/ifCond}}>Week(s)</option>
									<option value="months" {{#ifCond this.recurense '==' 'months'}} value="{{this.recurense}}" selected {{/ifCond}}>Month(s)</option>
									<option  value="years" {{#ifCond this.recurense '==' 'years'}} value="{{this.recurense}}" selected {{/ifCond}}>Year(s)</option> 
								</select>
							  </div>	
					        </div>  
							<div class="col-md-4 notCustomerBlock"> 
							    <div class="col-12">
								  <div class="input-group-append"> 
								  <span class="input-group-btn" id="button-addon2">
								  <button class="btn btn-danger mb-2" type="button" data-repeater-delete><i class=" ft-x"></i></button>
									</span> 
			                      </div>
							    </div>	  
                            </div>  
							</div>
							{{/each}}
                        </div>
						<div class="col-12">
						<button type="button" data-repeater-create id="repeater-button"  class="btn btn-secondary "><i class="icon-plus4"></i> {{#with ..}}{{__ "Add More" setlang}}{{/with}}
                        </button>
						</div>
                </div>
	    </div>
	 </div>   
	 {{/each}}

<!-- Custome fields Start--> 
{{#if newfield}}
<p class="form-section text-bold-600 font-medium-2 border-light"><i class="fa fa-address-card-o" aria-hidden="true"></i> {{__ "Custom fields"}} </p>
<div class="row">
{{#each newfield as |datafield|}}
{{#ifCond datafield.field_type "==" "text"}}
	<div class="col-md-6 notCustomerBlock">
	<div class="form-group input">
		<div class="col-md-12 form-control border-light">
			<input type="text" name="customfields[{{datafield._id}}]" 
				{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
				{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
				{{#ifEqual datafield.validation "numeric"}} data-validation-regex-regex="([0-9_, .-]{{regexlimit}})" {{/ifEqual}}
				{{#ifEqual datafield.validation "alpha"}} data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}}
				{{#ifEqual datafield.validation "alpha_space"}} data-validation-regex-message="{{__ 'Only Characters, no numbers'}}" data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}}
				{{#ifEqual datafield.validation "alpha_num"}} data-validation-regex-regex="([A-Za-z0-9_, .-]{{regexlimit}})" {{/ifEqual}}
				{{#ifEqual datafield.validation "email"}} data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"  {{/ifEqual}}
				{{#ifEqual datafield.validation "url"}}  data-validation-regex-regex="^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$" {{/ifEqual}}
				{{#ifEqual datafield.validation "before_or_equal:today"}} {{/ifEqual}}
				{{#ifEqual datafield.validation "date_equals:today"}} {{/ifEqual}}
				{{#ifEqual datafield.validation "after_or_equal:today"}} {{/ifEqual}}			
				{{#if datafield.minival}} minlength={{datafield.minival}} {{/if}}
				{{#if datafield.maxival}} maxlength={{datafield.maxival}}{{/if}}
			{{#each ../customfield_value as |custome_value| }}
				{{#ifCond  custome_value.id_d "==" datafield.id_d}}
					value="{{custome_value.customfield_value}}"  {{/ifCond}}
			{{/each}}
			>
			<label>{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
		</div><div class="help-block"></div>
	</div>
	</div>
{{/ifCond}}
{{#ifCond datafield.field_type "==" "textarea"}}
<div class="col-md-6">
<div class="form-group input">
<div class="col-md-12" style="border: 1px solid #ddd;">
<div class="form-field">
<textarea name="customfields[{{datafield._id}}]"
	{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
	{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
	{{#ifEqual datafield.validation "numeric"}} data-validation-regex-regex="([0-9_, .-]{{regexlimit}})" {{/ifEqual}}
	{{#ifEqual datafield.validation "alpha"}} data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}}
	{{#ifEqual datafield.validation "alpha_space"}} data-validation-regex-message="{{__ 'Only Characters, no numbers'}}" data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}}
	{{#ifEqual datafield.validation "alpha_num"}} data-validation-regex-regex="([A-Za-z0-9_, .-]{{regexlimit}})" {{/ifEqual}}
	{{#ifEqual datafield.validation "email"}} data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"  {{/ifEqual}}
	{{#ifEqual datafield.validation "url"}}  data-validation-regex-regex="^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$" {{/ifEqual}}
	{{#ifEqual datafield.validation "before_or_equal:today"}} {{/ifEqual}}
	{{#ifEqual datafield.validation "date_equals:today"}} {{/ifEqual}}
	{{#ifEqual datafield.validation "after_or_equal:today"}} {{/ifEqual}}			
	{{#if datafield.minival}} minlength={{datafield.minival}} {{/if}}
	{{#if datafield.maxival}} maxlength={{datafield.maxival}}{{/if}}
	{{#each ../customfield_value as |custome_value| }}
		{{#ifCond  custome_value.id_d "==" datafield.id_d}}	
			value="{{custome_value.customfield_value}}"  {{/ifCond}}
	{{/each}}
>{{#each ../customfield_value as |custome_value| }}{{#ifCond  custome_value.id_d "=="datafield.id_d}}{{custome_value.customfield_value}}{{/ifCond}}{{/each}}</textarea>
	<span class="txt-title-label"></span>
	<label class="text-area address ">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
</div>
</div><div class="help-block"></div>
</div>
</div>
{{/ifCond}}					
{{#ifCond datafield.field_type "==" "checkbox"}}
	<div class="col-md-6">
	<div class="form-group">
		<div class="col-md-12 form-control">
			<div class="skin skin-flat row">
				<div class="input-group">
					<label class="ml-1 custom-top-label">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
					{{#each datafield.c_label as |datafile_data|}}
					<div class="d-inline-block custom-control custom-checkbox mr-1">
						<input type="checkbox" class="custom-control-input hideattar" name="customfields[{{datafield._id}}]" value="{{this}}"
							{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
							{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
							{{#each ../../customfield_value as |custome_value| }}
								{{#ifCond  custome_value.id_d "==" datafield.id_d}}
									 {{#ifCond datafile_data "==" custome_value.customfield_value}}
										checked
									{{/ifCond}} 
								{{/ifCond}}
							{{/each}}
						>
						<label class="custom-control-label" for="colorCheck1">{{this}}</label>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	</div>
{{/ifCond}}
{{#ifCond datafield.field_type "==" "dropdown"}}
	<div class="col-md-6">
	<div class="form-group input">
		<div class="heading-elements ">
			<ul class="list-inline mb-0">
			<li class="col-md-12 p-0 form-control" id="export">
				<label class="ml-1 custom-top-label top" style="z-index:9">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label> 
				<select class="select2 form-control export" name="customfields[{{datafield._id}}]"
					{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
					{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
					{{#each ../customfield_value as |custome_value| }}
						{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
							value="{{custome_value.customfield_value}}"  {{/ifCond}}
					{{/each}}
				>
					<option value="">Select {{datafield.label}}</option>
					{{#each datafield.d_label as |datafile_data|}}
					<option value="{{this}}" 
						{{#each ../../customfield_value as |custome_value| }}
						{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
							{{#ifCond datafile_data "==" custome_value.customfield_value}}
								selected
							{{/ifCond}}
					{{/ifCond}}
					{{/each}}>{{this}}</option>
					{{/each}}
				</select>
			</li>
			</ul>
		</div><div class="help-block"></div>
	</div>
	</div>
{{/ifCond}}
{{#ifCond datafield.field_type "==" "date"}}
	<div class="col-md-6">
	<div class="form-group row">
	<div class="col-md-12">
		<label class="custom-control-label-date ml-2">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
		{{#ifEqual datafield.validation "before_or_equal:today"}}
			<input type='text' class="form-control beforedate dateformat" name="customfields[{{datafield._id}}]" aria-invalid="false"
			{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
			{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
			{{#each ../customfield_value as |custome_value| }}
					{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
						value="{{custome_value.customfield_value}}"  {{/ifCond}}
			{{/each}}>
		{{/ifEqual}}
		{{#ifEqual datafield.validation "after_or_equal:today"}}
		<input type='text' class="form-control afterdate dateformat" name="customfields[{{datafield._id}}]" aria-invalid="false"
		{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
		{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
		{{#each ../customfield_value as |custome_value| }}
				{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
					value="{{custome_value.customfield_value}}"  {{/ifCond}}
		{{/each}}>
		{{/ifEqual}}
		{{#ifEqual datafield.validation "date_equals:today"}}
		<input type='text' class="form-control today dateformat" name="customfields[{{datafield._id}}]" aria-invalid="false" 
		{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
		{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
		{{#each ../customfield_value as |custome_value| }}
				{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
					value="{{custome_value.customfield_value}}"  {{/ifCond}}
		{{/each}}>
		{{/ifEqual}}
		<i class="ft-calendar icon-care"></i>
	</div><div class="help-block"></div>
	</div>
	</div>
{{/ifCond}}
{{#ifCond datafield.field_type "==" "radio"}}
	<div class="col-md-6">
	<div class="form-group">
	<div class="col-md-12 form-control">
	<div class="skin skin-flat row ">
	<div class="input-group">
	<label class="custom-control-label custom-top-label ml-2">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
		&nbsp;&nbsp;&nbsp;
		{{#each datafield.r_label as |datafile_data|}}
		<div class="d-inline-block custom-control custom-radio mr-1">			
			<input type="radio" name="customfields[{{datafield._id}}]" value="{{datafile_data}}"
			{{#ifEqual datafield.validation "nullable"}}{{/ifEqual}}
			{{#ifEqual datafield.validation "required"}} data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
				{{log datafile_data}}
				{{log "hbsssssssssssss"}}
			{{#each ../../customfield_value as |custome_value| }}
		
				{{#ifCond  custome_value.id_d "==" datafield.id_d}}
					{{#ifCond datafile_data "==" custome_value.customfield_value}}
					checked
					{{/ifCond}}
				{{/ifCond}}
			{{/each}}
			>
			<label class="custom-control-label">{{this}}</label>
			&nbsp; &nbsp;&nbsp; &nbsp;
			&nbsp; &nbsp;&nbsp; &nbsp;
		</div>
		{{/each}}
	</div>
	</div>
	</div>
	</div>
	</div>
{{/ifCond}}
{{#ifCond datafield.field_type "==" "file"}}
	<div class="col-md-6">
	<div class="form-group row">
	<div class="col-md-12">
		<label class="custom-control-label-date ml-2">{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
		<input class="form-control border-light validimage"
		{{#ifEqual datafield.validation "required"}}  data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}}
		{{#each ../customfield_value as |custome_value| }}
			{{#ifCond  custome_value.id_d "==" datafield.id_d}}			
				value="{{custome_value.customfield_value}}" 
				
				{{/ifCond}}
		{{/each}}
		name="{{datafield._id}}" type="file">{{#each ../customfield_value as |custome_value| }}{{#ifCond  custome_value.id_d "==" datafield.id_d}}<p>{{custome_value.customfield_value}}</p><input class="form-control border-light edit_val"  name="customphoto_old" value="{{custome_value.customfield_value}}" type="hidden"  placeholder="" id="userinput5">{{/ifCond}}{{/each}}
		<span class="required red notice"></span>
	</div><div class="help-block"></div>
	</div>
	</div>
{{/ifCond}}
{{/each}}
{{/if}}
</div>

<!-- Custome fields End--> 
			<div class="form-actions left">
				<button type="submit" class="btn btn-secondary" >
					<i class="fa fa-check-square-o"></i>{{__ "Submit"}} 
				</button> 
				<button type="reset" class="btn btn-warning">
					<i class="ft-refresh-cw"></i>{{__ "Reset"}} 
				</button>
			</div> 
			
	</div>   
	</form>
	</div>
	</div>
	</div>
    </div>
</div>
</div>
</div>
 <script type="text/javascript">
 <!-- $("#repeater-button").click(function(){ -->
        <!-- setTimeout(function(){ -->
 
            <!-- $(".select2").select2({ -->
                <!-- placeholder: "", -->
                <!-- allowClear: true -->
            <!-- });     -->
                  
        <!-- }, 100); -->
    <!-- });     -->
 
 
    <!-- $( document ).ready(function() { -->
    <!-- $(".select2").select2({  -->
        <!-- placeholder: "",  -->
        <!-- allowClear: true  -->
    <!-- });  -->
<!-- }); -->
</script> 
{{#each newfield as |customvalid|}}
<script type="text/javascript">
       $('document').ready(function(){
		m=0;
		$('.validimage').on('blur', function(){
			if($(this).val() != '') {
				var imageUpload=$(this).val();
				var allowedFiles = [];
				var image="{{customvalid.filetype}}";
				 var res = image.split(",");
				allowedFiles=res;
				var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
				if (!regex.test(imageUpload.toLowerCase())) {
					m++;
					$(this).siblings('.notice').html("Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.");
				}
				else{
					$(this).siblings('.notice').html();
				}
			}
		});
		$('.validimage').on('change', function() {
		if("{{customvalid.field_type}}" == "file"){
			var size = (this.files[0].size/1024/1024).toFixed(2);
			var limit="{{customvalid.filesize}}";
			if(size > limit){
				alert("size should be less than or equal to {{customvalid.filesize}} mb");
				$('.validimage').val("");
			}
		}
		});
			if(m>0){
			return false;
			}
        });
</script>
{{/each}}