 {{breadcrums (__ 'Home') (__ 'View User')}}

<div class="app-content center-layout mt-2 mx-md-3 px-1 font-way">
<div class="content-wrapper">
	<div class="content-body">
	<section id="simple-user-cards" class="row pb-2">
		<div class="col-xl-2 col-md-6 col-sm-12">
		<div class="card-content123">
			{{#each data}}
				<input type="hidden" id="userinput1"name="id" {{#if this._id}} value="{{this._id}}"{{/if}} >
					<div class="col-12 text-center"><img class="roundimg" src="/images/upload/{{this.photo}}" alt="User image" data-pagespeed-url-hash="3236208173" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
					<!-- <i class="fa fa-camera fa-2x upload_btn_css" data-toggle="modal" data-target="#image_upload" aria-hidden="true"></i> -->
				<div class="card-body text-center p-0 pt-1 pb-1">
					<h5 class="card-title"></h5>
					<h6 class="card-subtitle text-muted">{{this.firstname}}</h6>
				</div>
		</div>
		</div>
		<div class="col-xl-10 col-md-7 col-sm-12" style="padding-top: 2%;">
			<div id="card">
			<h5 class="card-title"></h5>
			<p><h1 class="card-subtitle text-muted">{{this.firstname}} {{this.middlename}} {{this.lastname}}</h1></p>
				<!-- <div class="row"> -->
					<div class="col-md-12 col-sm-12 align-self-start profile_user leftDiv border-light ews-viewuser">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-12 col-sm-12 col-xs-12">
								<div class="row">
								<div class="col-xl-4 col-md-4 col-12 col-sm-12 col-xs-12 card-content collapse show">
										<h5>
										<i class="fa fa-envelope"></i> {{this.email}}
										</h5>
								</div>
								<div class="col-xl-3 col-md-4 col-12 col-sm-12 col-xs-12 card-content collapse show">
										 <h5>
										<i class="fa fa-phone"> </i> +{{this.ccode}} {{this.mobile}}
										</h5>
								</div>
								<div class="col-xl-5 col-md-4 col-12 col-sm-12 col-xs-12 card-content collapse show">
										<h5 class="card-text">
											<i class="fa fa-map-marker"> </i> {{ this.address}},
											<span>{{getcitybyid this.city}},</span>
											<span>{{getstatebyid this.state}},</span>
											<span>{{getcountrybyid this.country}}.</span>
										</h5>
								</div>
								</div>
								</div>
								<!--View more and View less-->
								 
									<div class=" col-10 text-center p-1  ">
										 <button onclick="myFunction()" id="myBtn" type="button" class="viewbtn bg-transparent border-0" style="outline:none;">{{#with ..}}{{__ "View more" setlang}}{{/with}}<br/><i class="fa fa-2x">&#xf107;</i> 
										 </button>   
									</div>
						</div>
					</div>
				</div>
	       </div>
	    </div>
      </div>
				<div class="row">	
					<span id="dots"></span>
					<span class="col-xl-12 col-sm-12 col-12 app-content center-layout mt-2" id="more" style="display:none;"> 
					<div class=" col-12  bg-white p-0">
					 
		<div class="h3 p-1 font-weight-bolder"><i class="fa fa-user " aria-hidden="true"></i> {{#with ..}}{{__ "Personal Information" setlang}}{{/with}}
		</div>				  
		<div class="container-fluid "> 
		 <div class="row p-1 user-pedding"> 
				    <div class="col-sm-6 user-sm-pedding">
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "First Name" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						  <span class="colon">:</span>
						  <div class="tabletext">{{this.firstname}}</div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Middle Name" setlang}}{{/with}}        
						  </div>
						  <div class="col-sm-6 col-6"> 
						   <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.middlename}}</div>  
						  </div>
						</div>  
				 </div>    
                </div>	
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Last Name" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							 <div class="tabletext">{{displayOrNA this.lastname}}</div> 
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Occupation" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6 "> 
						    <span class="colon">:</span>
							<div class="tabletext"> {{displayOrNA this.occupation}}</div>
						  </div>
						</div>  
				 </div>    
                </div>
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold">{{#with ..}}{{__ "Birth Date" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6  col-6"> 
						    <span class="colon">:</span>
							<div class="tabletext">{{getdate this.birthdate ../session.generaldata.date_format}} </div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Gender" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							<div class="tabletext">{{displayOrNA this.gender}} </div>
						  </div>
						</div>  
				 </div>    
                </div>
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Email" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6 col-6" > 
						    <span class="colon">:</span>
							<div class="tabletext"> {{displayOrNA this.email}}</div> 
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Contact" setlang}}{{/with}}  
						  </div>
						  <div class="col-sm-6 col-6" > 
						    <span class="colon">:</span> 
							<div class="tabletext"><i class="ft-plus"></i> {{displayOrNA this.ccode}} {{this.mobile}}</div>
						  </div>
						</div>  
				 </div>    
                </div>
		</div> 

		<div class="h3 p-1 font-weight-bolder ">
		        <i class="fa fa-home" aria-hidden="true"></i> {{#with ..}}{{__ "Residential Address" setlang}}{{/with}}
		</div>
		<div class="container-fluid"> 
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding">
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Address" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6 "> 
						  <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.address}}</div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Pin Code" setlang}}{{/with}}        
						  </div>
						  <div class="col-sm-6 col-6"> 
						   <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.pincode}}</div>  
						  </div>
						</div>  
				 </div>    
                </div>	
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "City" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							 <div class="tabletext">{{displayOrNA (getcitybyid this.city)}}</div> 
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "State" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							<div class="tabletext">{{displayOrNA (getstatebyid this.state)}}</div>
						  </div>
						</div>  
				 </div>    
                </div>
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Country" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							<div class="tabletext">{{ displayOrNA (getcountrybyid this.country)}} </div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 font-weight-bold "> 
						  </div>
						  <div class="col-sm-6 user-sm-pedding"> 
						    <!-- <span class="colon">:</span> -->
							<div class="tabletext"> </div>
						  </div>
						</div>  
				 </div>    
                </div>
				 
		</div>
		<div class="h3 p-1 font-weight-bolder">
		  <i class="fa fa-sign-in  " aria-hidden="true"></i> {{#with ..}}{{__ "Login Information" setlang}}{{/with}}
		</div>
		<div class="container-fluid"> 
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding">
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "User Name" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						  <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.username}}</div>
						  </div>
						</div>
				    </div>
					{{#each ../role as |rolename|}}
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Role" setlang}}{{/with}}        
						  </div>
						  <div class="col-sm-6 col-6"> 
						   <span class="colon">:</span>
						  <div class="tabletext">{{rolename.role_nm}}</div>  
						  </div>
						</div>  
				 </div> 
					{{/each}}				 
                </div>	 
		</div>
		{{/each}}
		{{#each family}}
		{{#if this.familymember}}
		<div class="h3 p-1 font-weight-bolder">
			 <i class="icon-users  " aria-hidden="true"></i> {{__ "Family Information"}} 
	    </div>
		<div class="container-fluid">
		       <div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding">
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Family Member Name" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						  <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.familymember}}</div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Occupation" setlang}}{{/with}}        
						  </div>
						  <div class="col-sm-6 col-6"> 
						   <span class="colon">:</span>
						  <div class="tabletext">{{displayOrNA this.famoccupation}}</div>  
						  </div>
						</div>  
				 </div>    
                </div>	
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding"> 
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Relationship" setlang}}{{/with}} 
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							 <div class="tabletext">{{displayOrNA this.relationship}}</div> 
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6 user-sm-pedding"> 
						<div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Contact" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							<div class="tabletext">{{displayOrNA this.famcontact}}</div>
						  </div>
						</div>  
				 </div>    
                </div>
				<div class="row p-1 user-pedding">
				    <div class="col-sm-6 user-sm-pedding">
				        <div class="row">
						  <div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Annual Income" setlang}}{{/with}}
						  </div>
						  <div class="col-sm-6 col-6"> 
						    <span class="colon">:</span>
							
							<div class="tabletext">{{#if this.income}} {{{currencyList ../session.generaldata.currency}}} {{/if}} {{ displayOrNA this.income}} </div>
						  </div>
						</div>
				    </div>
				 <div class="col-sm-6"> 
						<div class="row">
						  <div class="col-sm-6 font-weight-bold "> 
						  </div>
						  <div class="col-sm-6"> 
						    <!-- <span class="colon">:</span> -->
							<div class="tabletext"> </div>
						  </div>
						</div>  
				 </div>    
                </div>
		</div>
		{{/if}}
		{{/each}}
				</div> 
			  </div>  
			</span>    
		 </div>  
		</div>
			 
		 
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");
  var viewbtn = document.getElementById("myviewbtn");
  
  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "{{{__ 'View more'}}} <br/><i class='fa fa-2x'>&#xf107;</i>"; 
    moreText.style.display = "none";
	viewbtn.style.display = "{{{__ 'View more'}}}";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "{{{__ 'View less'}}} <br/><i class='fa fa-2x'>&#xf106;</i>"; 
    moreText.style.display = "inline";
	viewbtn.style.display = "{{{__ 'View less'}}}";
  }
}

</script>
	</section>
	<!-- <div class="col-xl-6 col-md-6 col-12 custom_second_div"> -->
		<!-- <div class="card123"> -->
			<!-- <div class="card-header pl-0 pr-0 pt-0 pb-1 "> -->
										<!-- <p class="card-title text-bold-700 border-bottom border-light">Location.</p> -->
										<!-- <div class="form-control-position"> -->
											<!-- <a title="Edit Profile" {{#if this._id}} href="../adduser/{{this._id}}"{{/if}}"><i class="fa fa-pencil"></i></a> -->
										<!-- </div> -->
											
										
									<!-- </div> -->
								<!-- </div> -->
								<!-- <div class="card-content collapse show"> -->
									<!-- <div class="card-body p-0"> -->
										<!-- <p class="card-text" style="word-wrap:break-word;"><span class="text-bold-600">Address</span><br> -->
										<!-- {{this.address}}																<!--<i class="text-grey"><a class="text-grey" href="../"> -->
																																				<!-- Edit 	Profile</a></i></p> -->
										<!-- <p></p> -->
										<!-- <p class="card-text"><span class="text-bold-600">City</span><br> -->
										 <!-- {{this.city}} -->
										 <!-- </p> -->
										 <!-- <p class="card-text"><span class="text-bold-600">State </span><br> -->
										<!-- {{this.state}} -->
										<!-- </p> -->
										 <!-- <p class="card-text"><span class="text-bold-600">Country</span><br> -->
										 <!-- {{this.country}} -->
										 <!-- </p> -->
										
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
					<!-- <div class="col-md-6 col-sm-12 align-self-start px-3 py-2 profile_user rightDiv"> -->
						<!-- <div class="row"> -->
							 
							<!-- <div class="col-xl-6 col-md-6 col-12 custom_second_div"> -->
												
									<!-- <div class="card-header pl-0 pr-0 pt-0 pb-1 "> -->
										<!-- <p class="card-title text-bold-700 border-bottom border-light">Loan Information</p> -->
									<!-- </div> -->
									<!-- <div class="card-content collapse show"> -->
										<!-- <div class="card-body p-0 scroll-to"> -->
												
											<!-- <p class="card-text"><span class="text-bold-600">Status</span><br>  -->
												<!-- Active -->
											<!-- </p> -->
											<!-- <p class="card-text"><span class="text-bold-600">Customer Since</span><br> -->
												<!-- 22-07-2019 -->
											<!-- </p> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								 
								<!-- <div class="col-xl-6 col-md-6 col-12 custom_second_div"> -->
									<!-- <div class="card-header pl-0 pr-0 pt-0 pb-1 "> -->
										<!-- <p class="card-title text-bold-700 border-bottom border-light">EMI Information.</p> -->
										
									<!-- </div> -->
									<!-- <div class="card-content collapse show"> -->
										<!-- <div class="card-body p-0"> -->
																																					<!-- <p class="card-text"> -->
											<!-- NiftyISO, 1 day ty,	22-07-2019 -->
												 <!-- to 24-07-2019</p> -->
											<!-- <br> -->	
			 
		 	 {{!-- {{#hiddenmodules session.access_rights.product.view session.admin_access}} --}}
		  <div class="row1 match-height " id="loanInfo">
          <div class="app-content center-layout mt-2 mx-md-3 px-1" id="user_list">
            <div class="card">
              <div class="card-content">
                <div class="card-body px-0">
                    <ul class="nav nav-tabs nav-top-border no-hover-bg">
						 {{#hiddenmodules session.access_rights.loanlist.view session.admin_access}}
                      <li class="nav-item">
                        <a class="nav-link active" id="baseIcon-tab11" data-toggle="tab" aria-controls="tabIcon11"
                        href="#tabIcon11" aria-expanded="true"><i class="fa fa-play"></i> {{__ "Loan Information"}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="baseIcon-tab12" data-toggle="tab" aria-controls="tabIcon12"
                        href="#tabIcon12" aria-expanded="false"><i class="fa fa-flag"></i>{{__ "EMI Information"}}</a>
                      </li>
					  {{/hiddenmodules}}
					  {{#hiddenmodules session.access_rights.alert.view session.admin_access}}
                      <li class="nav-item">
                        <a class="nav-link" id="baseIcon-tab13" data-toggle="tab" aria-controls="tabIcon13"
                        href="#tabIcon13" aria-expanded="false"><i class="fa fa-cog"></i>{{__ "Alert Details"}}</a>
                      </li>
					{{/hiddenmodules}}
                    </ul>
                    <div class="tab-content px-1 pt-1">
						  {{#hiddenmodules session.access_rights.loanlist.view session.admin_access}}
                      <div role="tabpanel" class="tab-pane active text-center" id="tabIcon11" aria-expanded="true"
                      aria-labelledby="baseIcon-tab11">
						<div role="tabpanel" class="tab-pane active" id="tabIcon11" aria-expanded="true"
							aria-labelledby="baseIcon-tab11">
							<div class="app-content center-layout mt-2 mx-md-3 px-1">
								<div class="content-wrapper">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-content collpase show">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">
																	<div class="card-content collapse show">
																		<div
																			class="card-body card-dashboard card-design">
																			<section id="horizontal">
																				<div class="row">
																					<div class="col-12">
																						<div class="card">
																							<div id="tableBox"
																								class="table-responsive">
																								<table
																									class="table designtable">
																									<thead
																										class="headcolor">
																										<tr>
																											<th>{{__
																												'Loan No.'}}
																											</th>
																											<th>{{__
																												'Loan Type'}}
																											</th>
																											<th>{{__
																												'Username'}}
																											</th>
																											<th>{{__
																												'Loan Amount'}}
																											</th>
																											
																											<th>{{__
																												'Interest Rate %'}}
																											</th>
																											<th>{{__
																												'Starting Date'}}
																											</th>
																											{{!-- <th>{{__
																												'Ending Date'}}
																											</th> --}}
																											<th>{{__
																												'Approve Status'}}
																											</th>
																											
																										</tr>
																									</thead>

																									<tbody>		
																									{{#if loanDetail}}
  																										{{#if loanDetail.length}}

																										{{#each loanDetail as |result|}} 
																										
																										<tr
																											class="colortr">
																											<td
																												class="bordertop">
																											
																												{{result.loancount}}
																											</td>
																											<td
																												class="bordertop">
																												{{this.loantype.type}}
																											</td>
																											<td
																												class="bordertop">
																												
																												 {{result.user.firstname}} {{result.user.lastname}}
																												
																											</td>
																											<td
																												class="bordertop">
																												{{
																												result.loanamount}}
																											</td>
																											<td
																												class="bordertop">
																												{{
																												result.interestrate}}
																											</td>
																											<td
																												class="bordertop">
																												
																												{{getdate result.startdate ../session.generaldata.date_format}}
																											</td>
																											{{!-- <td
																												class="bordertop">
																												{{getdate result.enddate ../session.generaldata.date_format}}
																											</td> --}}
																											
																											<td
																												class="bordertop">
																												
																													{{#ifCond
																													this.approvestatus
																													'=='
																													'0'}}<button
																													disabled
																														type="button"
																														class="btn btn-info"
																														style="cursor: default; color:#fff">{{#with
																														..}}{{__
																														'Pending'}}{{/with}}</button>{{/ifCond}}
																												{{#ifCond
																												this.approvestatus
																												'=='
																												'1'}}<button
																													type="button"
																													disabled
																													class="btn"
																													style="background-color:#00c735; color:#fff; cursor:default">{{#with
																													..}}{{__
																													'Approved'}}{{/with}}</button>{{/ifCond}}
																											</td>
																										</tr>

																										{{/each}}
																										{{/if}}
																										{{else}}
																										<tr>
																											<td colspan="6" class="text-center h5 border-0">
																												<p class="mb-0">{{__ "You have not applied for any loan."}}</p>
																										
																											</td>
																										</tr>
																										
																										
																										{{/if}}
																										
																									</tbody>
																								</table>
																							
																							</div>
																						</div>
																					</div>
																				</div>
																			</section>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                      </div>
                      <div class="tab-pane text-center" id="tabIcon12" aria-labelledby="baseIcon-tab12">
						
						<div role="tabpanel" class="tab-pane active" id="tabIcon12" aria-expanded="true"
							aria-labelledby="baseIcon-tab11">
							<div class="app-content center-layout mt-2 mx-md-3 px-1">
								<div class="content-wrapper">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-content collpase show">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">
																	<div class="card-content collapse show">
																		<div
																			class="card-body card-dashboard card-design">
																			<section id="horizontal">
																				<div class="row">
																					<div class="col-12">
																						<div class="card">
																							<div id="tableBox"
																								class="table-responsive">
																								<table
																									class="table designtable">
																									<thead
																										class="headcolor">
																										<tr>
																											<th>{{__
																												'No.'}}
																											</th>
																											
																											<th>{{__
																												'Loan No.'}}
																											</th>

																											<th>{{__
																												'Date'}}
																											</th>
																											<th>{{__
																												'Principal'}}
																											</th>
																											
																											<th>{{__
																												'Total
																												Ammount'}}
																											</th>
																											<th>{{__
																												'Remaining
																												Balance'}}
																											</th>
																											<th>{{__
																												'Status'}}
																											</th>
																										</tr>
																									</thead>

																									<tbody >
																											{{#if loanDetail}}
  																										{{#if loanDetail.length}}


																										{{#each emiDetail as |results|}}
																										 {{#each results as |result|}}	
																										
																										<tr
																											class="colortr">
																											<td
																												class="bordertop">
																											
																												{{result.month}}
																											</td>
																											<td
																												class="bordertop">
																											
																												{{result.loan_id.loancount}}
																											</td>
																											<td
																												class="bordertop">
																												{{getdate result.date ../../session.generaldata.date_format}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.principal
																												2 '.'
																												','}}
																											</td>
																											
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.totalpayment
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.remainingBalance
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												<a
																													href="/loan/addemi/{{result._id}}">
																													{{#ifCond
																													this.status
																													'=='
																													'0'}}<button
																														type="button"
																														class="btn btn-info">{{#with
																														..}}{{__
																														'pending'}}{{/with}}</button>{{/ifCond}}</a>
																												{{#ifCond
																												this.status
																												'=='
																												'1'}}<button
																													type="button"
																													disabled
																													class="btn"
																													style="background-color:#00c735; color:#fff">{{#with
																													..}}{{__
																													'Completed'}}{{/with}}</button>{{/ifCond}}
																											</td>
																										</tr>

																										{{/each}}
																										{{/each}}
																												
																										{{/if}}
																										{{else}}
																										<tr>
																											<td colspan="6" class="text-center h5 border-0">
																												<p class="mb-0">{{__ "You have not applied for any loan."}}</p>
																										
																											</td>
																										</tr>
																										
																										
																										{{/if}}
																										
																									</tbody>
																								</table>
																							
																							</div>
																						</div>
																					</div>
																				</div>
																			</section>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                      </div>
					  {{/hiddenmodules}}
					    {{#hiddenmodules session.access_rights.alert.view session.admin_access}}
                      <div class="tab-pane text-center" id="tabIcon13" aria-labelledby="baseIcon-tab3">
								{{#if alert_data}}
							{{#each alert_data as |data_emi|}}

							<div class="col-12 col-lg-8 view_alert mb-1">
								<div class="row">
									<div class="col-12 col-lg-8 p-1">
										<i class="ft-alert-triangle"></i>
										<div class="alert_details">
											<h3>{{#with ..}}{{__ "Upcoming Emi Month"}}{{/with}}</h3>
											<p>{{#with ..}}{{__ "You EMI month"}}{{/with}} {{data_emi.date}}. {{#with
												..}}{{__ "Your EMI month payment is"}}{{/with}} {{formatNumber
												data_emi.totalpayment 2 '.' ','}}</p>
										</div>
									</div>
									<div class="col-12 col-lg-4 p-1 float-right">
										<p class="date_alert">{{data_emi.date}}</p>
									</div>
								</div>
							</div>

							{{/each}}
							{{else}}
							<h4 class="mb-1 mt-1 ml-1">{{__ "No alert Found."}}</h4>
							{{/if}}
                      </div>
				{{/hiddenmodules}}
                    </div>
                  </div>
				</div>
            </div>
          </div>
          </div> 
		  {{!-- {{/hiddenmodules}} --}}
	</div>
</div>
<script>
	$(document).ready(function(){

		let loanInfoContainer = $('#loanInfo');
	
		if({{session.admin_access }}== 1){
				console.log("1")
			loanInfoContainer.css("display","initial")
		}else if("{{ session.access_rights.loanlist.view}}"  || "{{session.access_rights.alert.view}}"  ){
			loanInfoContainer.css("display","initial")
		}else{
			loanInfoContainer.css("display","none")
							console.log("3")

		}
		{{!-- if({{"session.access_rights.loanlist.view"}}) --}}
		var id = '{{id}}';
  	var sessionUserId = '{{session.user_id}}';
 	let role = "{{session.role_slug}}"
	if(role == "customer"){ // only  display own loans 
	console.log(id == sessionUserId)
		if(id == sessionUserId){
		loanInfoContainer.css("display","initial")
		}else{
			loanInfoContainer.css("display","none")
		}
 }
	})
</script>