	{{breadcrums (__ 'Home') (__ title)}}
	<div class="app-content center-layout mt-2 mx-md-3 px-1">
		<div class="content-wrapper">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header pb-0 border-bottom border-light">
			<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
		</div>
		<div class="card-content collpase show">
		<div class="card-body">
			<form id="formID" class="needs-validation form form-horizontal" novalidate method="POST" action="/loan/addloan"  enctype="multipart/form-data">
			{{#each data as |result|}}

			<p class="form-section text-bold-600 font-medium-2"><i class="iconify mr-1 " data-icon="fa-solid:hand-holding-usd" data-inline="false"></i> {{#with ..}}{{__ "Loan Details" setlang}}{{/with}}</p>
			
			<div class="form-body user_form">
				<div class="row">
				<div class="col-md-6">
					<div class="form-group input">
					<div class="col-md-12 form-control border-light">
						<input type="text" class="form-control" id="readonlyInput" readonly="readonly" name="loancount"  {{#if this.loancount}} value="{{this.loancount}}" {{else}} value="L{{loannumber}}" {{/if}} >
						<label for="userinput4" >{{#with ..}}{{__ "Loan No." setlang}}{{/with}}<span class="required red">*</span></label>
					</div><div class="help-block"></div>
					</div>
				</div>
				<div class="col-md-6">
				<div class="form-group input">
					<div class="form-control p-0"> 
						<label class="custom-control-label-date ml-2" id="export" style="z-index:99">{{#with ..}}{{__ "User Name"}}{{/with}}<span class="required red">*</span></label>
							<select class="select2 form-control export" data-validation-required-message="{{#with ..}}{{__ "User name is required"}}{{/with}}" name="user" >					
								<option value="">{{#with ..}}{{__ "User Name"}}{{/with}}</option> 
								{{#each ../user as |data1| }}
								
									<option {{#if this.id_d}}{{#ifCond this.id_d '==' result.id_d}} selected {{/ifCond}}{{/if}} value="{{this._id}}" >{{this.firstname}} {{this.middlename}} {{this.lastname}}</option>
									
								{{/each}}
							</select>
							
					</div><div class="help-block"></div>
				</div>
				</div>
				
				<div class="col-md-6">
				<div class="form-group input">
					<div class="form-control p-0">
						<label class="custom-control-label-date ml-2" id="export" style="z-index:99">{{#with ..}}{{__ 'Loan Type'}}{{/with}}<span class="required red">*</span></label>	
							<input type="hidden" id="userinput1" name="id" {{#if this._id}} value="{{this._id}}"{{/if}} />
							<select id="loantype" class="select2 form-control export" data-validation-required-message="{{#with ..}}{{__ "Loan Type is required"}}{{/with}}" name="loantype" >
							<option value="">{{#with ..}}{{__ 'Loan Type'}}{{/with}}</option>
							{{#each ../loan as |data2| }}
							<option {{#if this.id_d}}{{#ifCond this.id_d '==' result.loantype}} selected {{/ifCond}}{{/if}} value="{{this._id}}">{{this.type}}</option>
							{{/each}}
							</select>					 	
					</div><div class="help-block"></div>
				</div>
				</div>
				
				<div class="col-md-6">	
				<div class="form-group input">
				<div class="col-md-12 form-control border-light" style="border: 1px solid #ddd;">
				<div class="form-field">	
					<textarea maxlength="300" id="loantypdesc" {{#if this.description}} value="{{this.description}}"{{/if}}  name=	"description" data-validation-regex-regex="([A-Za-z0-9_,` .'^-]{1,300})" data-validation-regex-message="{{#with ..}}{{__ 'Only Characters, no numbers'}}{{/with}}" data-validation-required-message="{{#with ..}}{{__ "Loan description is required"}}{{/with}}">{{this.description}}</textarea>
					<span class="txt-title-label"></span>
					<label class="text-area address">{{#with ..}}{{__ "Loan Description" setlang}}{{/with}}<span class="required red">*</span></label>
				</div>
				</div><div class="help-block"></div>
				</div>
				
				</div>
				
				</div>
				
				<p class="form-section text-bold-600 font-medium-2 border-light"><i class="iconify mr-1 " data-icon="fxemoji:informationsource" data-inline="false"></i> {{#with ..}}{{__ "Loan Information" setlang}}{{/with}} <span class="existingPriceSymbole"></span></p>
				
				<!-- {{{currencyList ../session.generaldata.currency}}} -->			
				<div class="row">			
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Loan Amount" setlang}}{{/with}}<span class="required red">*</span></label>
					
						<div class="input-group touchspincolor">
						<input type="text" id="loanamount" class="touchspin " data-bts-postfix="{{{currencyList ../session.generaldata.currency}}}"  name="loanamount" data-validation-required-message="{{#with ..}}{{__ 'Interest rate is required'}}{{/with}}" {{#if this.loanamount}} value="{{this.loanamount}}"{{/if}} />
						</div>
					</fieldset>
					</div>
				</div>
				</div>			 
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Annual Interest Rate" setlang}}{{/with}}<span class="required red">*</span></label>
						<div class="input-group touchspincolor">
						<input type="text" id="interestrate" class="touchspin "  data-bts-step="0.25" data-bts-decimals="2" data-bts-postfix="%" name="interestrate" data-validation-required-message="{{#with ..}}{{__ 'Interest rate is required'}}{{/with}}"  {{#if this.interestrate}} value="{{this.interestrate}}"{{/if}} />
						</div>
					</fieldset>
					</div>
				</div>
				</div>
				
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
						<fieldset>
						<label for="spinner">{{#with ..}}{{__ "Loan Period In Years" setlang}}{{/with}}<span class="required red">*</span></label>
						<div class="input-group bootstrap-touchspin touchspincolor">
						<input id="spinner" type="text" data-min="0" data-max="100" data-validation-required-message="{{#with ..}}{{__ 'Years are required'}}{{/with}}" data-bts-step="0.1" data-bts-decimals="1" class="touchspin form-control" name="years" {{#if this.years}} value="{{this.years}}"{{/if}} value="1" style="display: block;">

						<div class="input-group-append"><span class="input-group-text bootstrap-touchspin-postfix" style="display: none;"></span></div>
						</div>
						</fieldset>
					</div>
					</div><div class="help-block"></div>
				</div>
				
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
						<fieldset>
						<label>{{#with ..}}{{__ "Total EMI Months" setlang}}{{/with}}<span class="required red">*</span></label>
						<div class="input-group bootstrap-touchspin touchspincolor">
						<input type="text" class="touchspin form-control" name="totalemimonth" data-validation-required-message="{{#with ..}}{{__ 'Total EMI Months is required'}}{{/with}}"  {{#if this.totalemimonth}} value="{{this.totalemimonth}}"{{/if}} value="12" style="display: block;"><div class="input-group-append"><span class="input-group-text bootstrap-touchspin-postfix" style="display: none;"></span></div>
						</div>
						</fieldset>
					</div>
					</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
						<div class="col-md-12">

						<label class="custom-control-label-date ml-2">{{#with ..}}{{__ "Start Date Of Loan" setlang}}{{/with}}<span class="required red">*</span></label>

						<input type='text' class="form-control startdate dateformat"  data-validation-required-message="{{#with ..}}{{__ 'Start Date is required'}}{{/with}}" name="startdate" {{#if this.startdate}} value="{{getdate this.startdate ../session.generaldata.date_format}}" {{else}} value="{{getdate '' ../session.generaldata.date_format}}" {{/if}} aria-invalid="false">

						<i class="ft-calendar icon-care"></i> 
						</div>
					</div><div class="help-block"></div>
					</div>
				<div class="col-md-6">
						<div class="form-group row">
						<div class="col-md-12">
	
						<label class="custom-control-label-date ml-2">{{#with ..}}{{__ "End Date Of Loan" setlang}}{{/with}}<span class="required red">*</span></label>
						<input type='text'  class="form-control enddate dateformat"  data-validation-required-message="{{#with ..}}{{__ "End Date is required"}}{{/with}}" name="enddate" {{#if this.enddate}} value="{{getdate this.enddate ../session.generaldata.date_format}}" {{else}} value="{{getdate '' ../session.generaldata.date_format}}" {{/if}} aria-invalid="false"  id="enddate"> 
						<i class="ft-calendar icon-care"></i> 
						</div>
				</div><div class="help-block"></div>
				</div>	
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Processing Fees" setlang}}{{/with}} {{{currencyList ../session.generaldata.currency}}} <span class="required red">*</span> </label>
						<div class="input-group touchspincolor">
						<input type="text" id="processingfee" class="touchspin " name="processingfee" {{#if this.processingfee}} value="{{this.processingfee}}"{{/if}}/>
						</div>
					</fieldset>
					</div><div class="help-block"></div>
				</div>
				</div>
				</div>
				
				<p class="form-section text-bold-600 font-medium-2 border-light"> <i class="iconify mr-1" data-icon="fa-solid:file-invoice-dollar" data-inline="false"></i>{{#with ..}}{{__ " Financial Details (Customer's Income)" setlang}}{{/with}}</p>
				
				<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Income Per Annum" setlang}}{{/with}} {{{currencyList ../session.generaldata.currency}}} <span class="required red">*</span></label>
						<div class="input-group touchspincolor">
						<input type="text" class="touchspin " id="incomeperyear" name="incomeperyear" oninput="calculateMonthlyIncome()" {{#if this.incomeperyear}} value="{{this.incomeperyear}}"{{/if}} value="0"/>
						</div>
					</fieldset>
					</div><div class="help-block"></div>
				</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Income Per Month" setlang}}{{/with}} {{{currencyList ../session.generaldata.currency}}} <span class="required red">*</span> </label>
						<div class="input-group touchspincolor">
						<input type="text" class="touchspin " id="incomepermonth" name="incomepermonth" oninput="calculateAnnualIncome()"  {{#if this.incomepermonth}} value="{{this.incomepermonth}}"{{/if}} value="0" />
						</div>
					</fieldset>
					</div><div class="help-block"></div>
				</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12" style="float:right">
				<div class="card">
				<div class="card-content">
					<!-- <div class="card-body"> -->
					<fieldset>
					<label>{{#with ..}}{{__ "Other Income" setlang}}{{/with}} {{{currencyList ../session.generaldata.currency}}}</label>
						<div class="input-group touchspincolor">
						<input type="text" class="touchspin " name="oincome" {{#if this.oincome}} value="{{this.oincome}}"{{/if}} value="0" />
						</div>
					</fieldset>
					</div>
				</div>
				</div>
				
				<div class="col-md-6">	
				<div class="form-group input">
				<div class="col-md-12" style="border: 1px solid #ddd;">
				<div class="form-field">
				<textarea name="workdetail"  data-validation-regex-regex="([A-Za-z0-9_,` .'^-]{1,150})" data-validation-regex-message="{{#with ..}}{{__ "workdetail may only contain characters, numbers, space and _,`.'^-"}}{{/with}}" {{#if this.workdetail}} value="{{this.workdetail}}"{{/if}}>{{this.workdetail}}</textarea>
					<span class="txt-title-label"></span>
					<label class="text-area address ">{{#with ..}}{{__ "Work Detail" setlang}}{{/with}}</label>
				</div>
				</div><div class="help-block"></div>
				</div>
				</div>
				</div>
				<p class="form-section text-bold-600 font-medium-2 border-light"><i class="icon-users font-medium-2 mr-1"></i>{{#with ..}}{{__ "Properties and Equipments" setlang}}{{/with}}</p>
			
				
				
				<div class="row">
				{{#each this.document}}
				<div class="col-md-6">
					<div class="form-group"> 
						<div>
							
						</div>
						<label class="custom-control-label-date ml-2">{{#with ..}}{{__ "Upload Document" setlang}}{{/with}}<span class="required red">*</span></label>
						<input class="form-control border-light fileUpload docfile" onchange="return ValidateExtension()"  id="fileUpload"  name="document" {{#if this}} value="{{this}}" {{else}} data-validation-required-message="{{#with ..}}{{__ "Document is required"}}{{/with}}" {{/if}} type="file" multiple> 
						<span class="required red notice"></span>
						{{#if this}}
						<p class="d-inline-block mr-2">{{this}}</p>
						<a href="/images/upload/{{this}}" download="{{this}}" target="_blank">{{#with ..}}{{__ "Download"}}{{/with}}</a> 
						<input class="form-control border-light fileUpload doc_old_in" name="doc_old"  value="{{this}}" type="hidden"  placeholder="" id="userinput5" >
						{{/if}}
					<div class="help-block"></div>
					</div>
				</div>
				{{/each}}
				<div class="row col-md-12 add_element">
				{{#if this.document }}
				{{else}}
					{{addelement 'nodata'}}
					{{addelement 'nodata'}}
				{{/if}}
				</div>
				</div>
				<button type="button" id="add_doc" class="btn shover" style="background-color:#6badc2;color:#fff">
					<i class="icon-plus4"></i>{{#with ..}}{{__ "Add Document"}}{{/with}}
				</button>
				
				<p class="form-section text-bold-600 font-medium-2 border-light"><i class="icon-users font-medium-2 mr-1"></i>{{#with ..}}{{__ "Colleague Information For Inquiry" setlang}}{{/with}} </p>
				
				<div class="row">
				
				<div class="col-md-6 notCustomerBlock">
					<div class="form-group input">
					<div class="col-md-12 form-control border-light"> 
						<input type="text" id="colleague" class="" name="colleague" data-validation-regex-regex="([A-Za-z_,.`'^ -]{1,50})" data-validation-regex-message="{{#with ..}}{{__ "Only Characters, no numbers"}}{{/with}}" {{#if this.colleague}} value="{{this.colleague}}"{{/if}}>
						<label for="colleague">{{#with ..}}{{__ "Colleague Name" setlang}}{{/with}} </label> 
					</div><div class="help-block"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group input">
					<div class="col-md-12 form-control border-light"> 
						<input type="text" name="mobile" class="form-control"  minlength="10" maxlength="16"data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="{{#with ..}}{{__ "Contact Number may only contain numbers"}}{{/with}}" aria-invalid="false" {{#if this.mobile}} value="{{this.mobile}}"{{/if}}>
						<label for="userinput4">{{#with ..}}{{__ "Phone/Mobile" setlang}}{{/with}}</label> 
					</div><div class="help-block"></div>
					</div>
				</div>
				
				<div class="col-md-6 notCustomerBlock">
					<div class="form-group input">
					<label></label>
						<div class=""> 
						<label class="custom-control-label-date ml-2" style="z-index:99">{{#with ..}}{{__ "Colleague Address Type" setlang}}{{/with}}</label> 
							<select class="select2 form-control export" id="export" name="addtype" data-validation-required-message="{{#with ..}}{{__ "Colleague address type is required"}}{{/with}}" onchange='Checkaddtype(this.value)'> 
							<option>{{#with ..}}{{__ "Select Colleague Address Type"}}{{/with}}</option>
							<option value="home" {{#ifCond this.addtype '==' 'home'}} selected {{/ifCond}}>{{#with ..}}{{__ "Home"}}{{/with}}</option>
							<option value="work"{{#ifCond this.addtype '==' 'work'}} selected {{/ifCond}}>{{#with ..}}{{__ "Work"}}{{/with}}</option>			
							<option value="other"{{#ifCond this.addtype '==' 'other'}} selected {{/ifCond}}>{{#with ..}}{{__ "Other"}}{{/with}}</option>
							</select>
					</div><div class="help-block"></div>			
					</div>
					<textarea placeholder="Other text.." class="mytextarea" type="text" name="othertext" id="addtype" style='display:none'data-validation-regex-regex="([A-Za-z0-9_,` .'^-]{1,150})" data-validation-regex-message="{{#with ..}}{{__ "Address may only contain characters, numbers, space and _,`.'^-"}}{{/with}}" data-validation-required-message="{{#with ..}}{{__ "Other is required"}}{{/with}}" {{#if this.other}} value="{{this.other}}"{{/if}}>{{this.other}}</textarea>
					</div>
				<script>
					function Checkaddtype(val){
					var element=document.getElementById('addtype');
					if(val=='other')
					element.style.display='block';
					else  
					element.style.display='none';
					element.value='';
					}
				</script> 	
				
				<div class="col-md-6">
				<div class="form-group input">
				<div class="col-md-12" style="border: 1px solid #ddd;">
				<div class="form-field">	

				<textarea name="address"  data-validation-regex-regex="([A-Za-z0-9_,` .'^-]{1,150})" data-validation-regex-message="{{#with ..}}{{__ "Address may only contain characters, numbers, space and _,`.'^-"}}{{/with}}"  {{#if this.address}} value="{{this.address}}"{{/if}}>{{this.address}}</textarea>
					<span class="txt-title-label"></span>
					<label class="text-area address ">{{#with ..}}{{__ "Address" setlang}}{{/with}}</label>
				</div>
				</div><div class="help-block"></div>
				</div>
				</div>
				
				</div>
					{{/each}}
					
										{{#if note}}
			<p class="form-section text-bold-600 font-medium-2"><i class="ft-user font-medium-2 mr-1"></i>{{__ "Add Note"}}</p>
			<div class="row">	
			{{#each note}}
					<div class="col-lg-12 col-xl-6 pb-1" style="float:left">
					<div class="row">
					<div class="col-md-10 add_note">
					{{#if this.note }}
						{{#each this.note}}
					<div class="col-md-12 p-0 mr-0">
						<div class="form-group">
							<label class="custom-control-label-date ml-2"  style="z-index: 9;">{{__ "Add Note" setlang}}</label>
							<textarea class="form-control custom-control" rows="4" name="note" style="resize:none" {{#if this}}value="{{this}}"{{/if}} >{{this}}</textarea>
						<span class="required red notice"></span>
						</div><div class="help-block"></div>
					</div>
					{{/each}}
					{{else}}
						{{addnote 'nodata'}}
					{{/if}}
					</div>
					<div class="col-md-2 p-0 padding-mobile">
					<button type="button" id="add_note" class="btn shover" style="background-color:#6badc2;color:#fff">
						<i class="icon-plus4"></i>{{#with ..}}{{__ "Add More" setlang}}{{/with}}
					</button>
					</div>
					</div>
					</div>
					
					<div class="col-lg-12 col-xl-6 pb-1" style="float:left">
					<div class="row">
					<div class="col-md-10 add_file">
					{{#if this.fileattach }}
					{{#each this.fileattach}}
					{{log this}}
						<div class="col-md-12 p-0">
						<div class="form-group">
							<label class="custom-control-label-date ml-2">{{#with ..}}{{__ "Attach File" setlang}}{{/with}}<span class="required red">*</span></label>
							<input class="form-control border-light fileUpload docfile" onchange="return ValidateExtensionForAttachFile()"  id="fileUpload" name="attachfile" {{#if this}} value="{{this}}" {{/if}} type="file" multiple>
							{{#if this}}
							<p class="d-inline-block mr-2">{{this}}</p>
					<a href="/images/upload/{{this}}" download="{{this}}" target="_blank">{{#with ..}}{{__ "Download"}}{{/with}}</a> 
							<input class="form-control border-light fileUpload doc_old_in" name="attachfile_old"  value="{{this}}" type="hidden"  placeholder="" id="userinput5" >
							{{/if}}
						</div>
						<div class="help-block"></div>
					</div>
					{{/each}}
					{{else}}
						{{attachfile 'nodata'}}
					{{/if}}	
					</div>
					<div class="col-md-2 p-0 padding-mobile">
					<button type="button" id="add_file" class="btn shover" style="background-color:#6badc2;color:#fff">
						<i class="icon-plus4"></i>{{#with ..}}{{__ "Add More" setlang}}{{/with}}
					</button>
					</div>
					</div>
					</div>
				{{/each}}
				</div>
				{{else}}
    <p class="form-section text-bold-600 font-medium-2"><i class="ft-user font-medium-2 mr-1"></i>{{__ "Add Note"}}</p>
    <div class="row">
        <div class="col-md-6" style="float:left">
            <div class="row">
                <div class="col-md-10 add_note">
                    {{addnote 'nodata'}}
                </div>
                <div class="col-md-2 p-0 padding-mobile">
                    <button type="button" id="add_note" class="btn shover" style="background-color:#6badc2;color:#fff">
                        <i class="icon-plus4"></i>{{__ "Add More"}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="float:left">
            <div class="row">
                <div class="col-md-10 add_file">
                    {{attachfile 'nodata'}}
                </div>
                <div class="col-md-2 p-0 padding-mobile">
                    <button type="button" id="add_file" class="btn shover" style="background-color:#6badc2;color:#fff">
                        <i class="icon-plus4"></i>{{__ "Add More"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/if}}
				
	<!-- Custome fields Start --> 
{{#if newfield}}
<p class="form-section text-bold-600 font-medium-2 border-light"><i class="fa fa-address-card-o" aria-hidden="true"></i>
	{{__ "Custom fields"}} </p>
<div class="row">

	{{#each newfield as |datafield|}}
	{{#ifCond datafield.field_type "==" "text"}}
	<div class="col-md-6 notCustomerBlock">
		<div class="form-group input">
			<div class="col-md-12 form-control border-light">
				<input type="text" name="customfields[{{datafield._id}}]" {{#ifEqual datafield.validation "nullable"
					}}{{/ifEqual}} {{#ifEqual datafield.validation "required" }}
					data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{#ifEqual
					datafield.validation "numeric" }} data-validation-regex-regex="([0-9_, .-]{{regexlimit}})"
					{{/ifEqual}} {{#ifEqual datafield.validation "alpha" }}
					data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}} {{#ifEqual
					datafield.validation "alpha_space" }}
					data-validation-regex-message="{{__ 'Only Characters, no numbers'}}"
					data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}} {{#ifEqual
					datafield.validation "alpha_num" }} data-validation-regex-regex="([A-Za-z0-9_, .-]{{regexlimit}})"
					{{/ifEqual}} {{#ifEqual datafield.validation "email" }}
					data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" {{/ifEqual}} {{#ifEqual
					datafield.validation "url" }}
					data-validation-regex-regex="^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$"
					{{/ifEqual}} {{#ifEqual datafield.validation "before_or_equal:today" }} {{/ifEqual}} {{#ifEqual
					datafield.validation "date_equals:today" }} {{/ifEqual}} {{#ifEqual
					datafield.validation "after_or_equal:today" }} {{/ifEqual}} {{#if datafield.minival}}
					minlength={{datafield.minival}} {{/if}} {{#if datafield.maxival}}
					maxlength={{datafield.maxival}}{{/if}} {{#each ../customfield_value as |custome_value| }} {{#ifCond
					custome_value.id_d "==" datafield.id_d}} value="{{custome_value.customfield_value}}" {{/ifCond}}
					{{/each}}>
				<label>{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span
						class="required red">*</span>{{/ifEqual}}</label>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "textarea"}}
	<div class="col-md-6">
		<div class="form-group input">
			<div class="col-md-12 form-control border-light textarea_css" style="border: 1px solid #ddd;">
				<div class="form-field">
					<textarea name="customfields[{{datafield._id}}]" {{#ifEqual datafield.validation "nullable"
						}}{{/ifEqual}} {{#ifEqual datafield.validation "required" }}
						data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{#ifEqual
						datafield.validation "numeric" }} data-validation-regex-regex="([0-9_, .-]{{regexlimit}})"
						{{/ifEqual}} {{#ifEqual datafield.validation "alpha" }}
						data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}} {{#ifEqual
						datafield.validation "alpha_space" }}
						data-validation-regex-message="{{__ 'Only Characters, no numbers'}}"
						data-validation-regex-regex="([A-Za-z_, .-]{{regexlimit}})" {{/ifEqual}} {{#ifEqual
						datafield.validation "alpha_num" }}
						data-validation-regex-regex="([A-Za-z0-9_, .-]{{regexlimit}})" {{/ifEqual}} {{#ifEqual
						datafield.validation "email" }}
						data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" {{/ifEqual}}
						{{#ifEqual datafield.validation "url" }}
						data-validation-regex-regex="^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$"
						{{/ifEqual}} {{#ifEqual datafield.validation "before_or_equal:today" }} {{/ifEqual}} {{#ifEqual
						datafield.validation "date_equals:today" }} {{/ifEqual}} {{#ifEqual
						datafield.validation "after_or_equal:today" }} {{/ifEqual}} {{#if datafield.minival}}
						minlength={{datafield.minival}} {{/if}} {{#if datafield.maxival}}
						maxlength={{datafield.maxival}}{{/if}} {{#each ../customfield_value as |custome_value| }}
						{{#ifCond custome_value.id_d "==" datafield.id_d}} value="{{custome_value.customfield_value}}"
						{{/ifCond}}
						{{/each}}>{{#each ../customfield_value as |custome_value| }}{{#ifCond  custome_value.id_d "=="datafield.id_d}}{{custome_value.customfield_value}}{{/ifCond}}{{/each}}</textarea>
					<span class="txt-title-label"></span>
					<label class="text-area address ">{{datafield.label}}{{#ifEqual datafield.validation
						"required"}}<span class="required red">*</span>{{/ifEqual}}</label>
				</div>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "checkbox"}}
	<div class="col-md-6">
		<div class="form-group">
			<div class="col-md-12 form-control">
				<div class="skin skin-flat row">
					<div class="input-group">
						<label class="ml-1 custom-top-label">{{datafield.label}}{{#ifEqual datafield.validation
							"required"}}<span class="required red">*</span>{{/ifEqual}}</label>
						{{#each datafield.c_label as |datafile_data|}}
						<div class="d-inline-block custom-control custom-checkbox mr-1">
							<input type="checkbox" class="custom-control-input hideattar"
								name="customfields[{{datafield._id}}]" value="{{this}}" {{#ifEqual
								datafield.validation "nullable" }}{{/ifEqual}} {{#ifEqual
								datafield.validation "required" }}
								data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{#each
								../../customfield_value as |custome_value| }} {{#ifCond custome_value.id_d "=="
								datafield.id_d}} {{#ifCond datafile_data "==" custome_value.customfield_value}} checked
								{{/ifCond}} {{/ifCond}} {{/each}}>
							<label class="custom-control-label" for="colorCheck1">{{this}}</label>
						</div>
						{{/each}}

					</div>

				</div>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "dropdown"}}
	<div class="col-md-6">
		<div class="form-group input">
			<div class="heading-elements ">
				<ul class="list-inline mb-0">
					<li class="col-md-12 p-0 form-control" id="export">
						<label class="ml-1 custom-top-label top" style="z-index:9">{{datafield.label}}{{#ifEqual
							datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
						<select class="select2 form-control export" name="customfields[{{datafield._id}}]" {{#ifEqual
							datafield.validation "nullable" }}{{/ifEqual}} {{#ifEqual datafield.validation "required" }}
							data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{#each
							../customfield_value as |custome_value| }} {{#ifCond custome_value.id_d "=="
							datafield.id_d}} value="{{custome_value.customfield_value}}" {{/ifCond}} {{/each}}>
							<option value="">Select {{datafield.label}}</option>
							{{#each datafield.d_label as |datafile_data|}}
							<option value="{{this}}" {{#each ../../customfield_value as |custome_value| }} {{#ifCond
								custome_value.id_d "==" datafield.id_d}} {{#ifCond datafile_data "=="
								custome_value.customfield_value}} selected {{/ifCond}} {{/ifCond}} {{/each}}>{{this}}
							</option>
							{{/each}}
						</select>
					</li>
				</ul>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "date"}}


	<div class="col-md-6">
		<div class="form-group row">
			<div class="col-md-12">
				<label class="custom-control-label-date ml-2">
					{{datafield.label}}{{#ifEqual datafield.validation "required"}}<span
						class="required red">*</span>{{/ifEqual}}
				</label>

				<input type="text" name="customfields[{{datafield._id}}]" aria-invalid="false"
					class="form-control dateformat {{#ifEqual datafield.validation "
					before_or_equal:today"}}beforedate{{/ifEqual}} {{#ifEqual
					datafield.validation "after_or_equal:today" }}afterdate{{/ifEqual}} {{#ifEqual
					datafield.validation "date_equals:today" }}today{{/ifEqual}}" {{#ifEqual
					datafield.validation "required" }}
					data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{#each
					../customfield_value as |custome_value|}} {{#ifCond custome_value.id_d "==" datafield.id_d}}
					value="{{custome_value.customfield_value}}" {{/ifCond}} {{/each}}>

				<i class="ft-calendar icon-care"></i>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "radio"}}
	<div class="col-md-6">
		<div class="form-group">
			<div class="col-md-12 form-control">
				<div class="skin skin-flat row ">
					<div class="input-group">
						<label class="custom-control-label custom-top-label ml-2">{{datafield.label}}{{#ifEqual
							datafield.validation "required"}}<span class="required red">*</span>{{/ifEqual}}</label>
						&nbsp;&nbsp;&nbsp;
						{{#each datafield.r_label as |datafile_data|}}
						<div class="d-inline-block custom-control custom-radio mr-1">
							<input type="radio" name="customfields[{{datafield._id}}]" value="{{datafile_data}}"
								{{#ifEqual datafield.validation "nullable" }}{{/ifEqual}} {{#ifEqual
								datafield.validation "required" }}
								data-validation-required-message="{{datafield.label}} is required" {{/ifEqual}} {{log
								datafile_data}} {{log "hbsssssssssssss" }} {{#each ../../customfield_value as
								|custome_value| }} {{#ifCond custome_value.id_d "==" datafield.id_d}} {{#ifCond
								datafile_data "==" custome_value.customfield_value}} checked {{/ifCond}} {{/ifCond}}
								{{/each}}>
							<label class="custom-control-label">{{this}}</label>
							&nbsp; &nbsp;&nbsp; &nbsp;
							&nbsp; &nbsp;&nbsp; &nbsp;
						</div>
						{{/each}}

					</div>
				</div>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{#ifCond datafield.field_type "==" "file"}}
	<div class="col-md-6">
		<div class="form-group row">
			<div class="col-md-12">
				<label class="custom-control-label-date ml-2">{{datafield.label}}{{#ifEqual datafield.validation
					"required"}}{{#unless ../customfield_value}}{{else}}<span
						class="required red">*</span>{{/unless}}{{/ifEqual}}</label>
				<input class="form-control border-light validimage" {{#ifEqual datafield.validation "required" }}
					{{#unless ../customfield_value}} data-validation-required-message="{{datafield.label}} is required"
					{{/unless}} {{/ifEqual}} {{#each ../customfield_value as |custome_value| }} {{#ifCond
					custome_value.id_d "==" datafield.id_d}} value="{{custome_value.customfield_value}}" {{/ifCond}}
					{{/each}} name="{{datafield._id}}" type="file">

				{{#each ../customfield_value as |custome_value| }}
				{{#ifCond custome_value.id_d "==" datafield.id_d}}
				<p>{{custome_value.customfield_value}}</p>
				<input class="form-control border-light edit_val" name="customphoto_old"
					value="{{custome_value.customfield_value}}" type="hidden" placeholder="" id="userinput5">
				{{/ifCond}}
				{{/each}}

				<span class="required red notice"></span>
			</div>
			<div class="help-block"></div>
		</div>
	</div>
	{{/ifCond}}
	{{/each}}
</div>
{{/if}}

	<!-- Custome fields End --> 
				<div class="form-actions left">
					<button id="submit" value="upload" onclick="return ValidateExtension()" class="btn btn-secondary">
						<i class="fa fa-check-square-o"></i>{{__ "Submit"}}
					</button>
					<button type="reset" class="btn btn-warning mr-1 btn-outline-light text-muted">
						<i class="ft-refresh-cw"></i>{{__ "Reset"}}
					</button>
	</div>
				</div>
				</div>
			</form>	
				</div>
				</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	{{!-- </div> --}}
	<script>
					$(document).ready(function(){
					var year = $( "#spinner" ).val();
					$(".startdate").on("dp.change", function (e) {
								e.date= $('.startdate').data("DateTimePicker").date();
								e.date.add(year,'year');							
								$('.enddate').data("DateTimePicker").minDate(e.date);
							});
							$(".enddate").on("dp.change", function (e) {
								$('.startdate').data("DateTimePicker").maxDate(e.date);

							});
					
						$( "#spinner" ).on( "change", function() {
						var year = $( "#spinner" ).val();

							$(".startdate").on("dp.change", function (e) {
								e.date= $('.startdate').data("DateTimePicker").date();
								
								
								e.date.add(year,'year');
								$('.enddate').data("DateTimePicker").minDate(e.date);
							});
							$(".enddate").on("dp.change", function (e) {
								$('.startdate').data("DateTimePicker").maxDate(e.date);
							});

						});
					});
				</script>


<script>
	$(document).ready(function () {
		// Function to calculate and update Loan Period in years, Start Date, and End Date
		function calculateAndUpdateLoanDetails() {
			// Get values from the input fields
			var totalEMIMonths = parseInt($('[name="totalemimonth"]').val()) || 0;
			var loanPeriodInYears = totalEMIMonths / 12;
			// Update Loan Period in years
			$('[name="years"]').val(loanPeriodInYears.toFixed(1));
			let generalDateFormate = "{{session.generaldata.date_format}}"
	let originalDateFormate;
			let dates = {
				'm/d/Y': 'MM/DD/YYYY',
				'm-d-Y': 'MM-DD-YYYY',
				"d-m-Y": 'DD-MM-YYYY',
				"d/m/Y": 'DD/MM/YYYY',
				"Y-m-d": 'YYYY-MM-DD',
				"F j, Y": 'MMMM D, YYYY'
			}
			if (dates[generalDateFormate]) {
				originalDateFormate = dates[generalDateFormate];
			}
			var startDate = $('[name="startdate"]').val();

			if (startDate) {
				var momentStartDate = moment(startDate, originalDateFormate, true);
    if (momentStartDate.isValid()) {
        
        var endDate = momentStartDate.add(totalEMIMonths, 'months').format(originalDateFormate);
		console.log(endDate);
        $('[name="enddate"]').val(endDate);
    } else {
        console.error('Invalid start date format');
        // Handle invalid start date format as needed
    }
			}
		}

		
		// Initialize the touchspin plugin for Total EMI Months
		$('[name="totalemimonth"]').TouchSpin({
			min: 1,
			max: 100,
			step: 1,
			decimals: 0,
			boostat: 5,
			maxboostedstep: 10,
		});

		// Attach change event listener to Total EMI Months input
		$('[name="totalemimonth"]').on('change', function () {
			calculateAndUpdateLoanDetails();
		});

		// Attach touchspin button events to Total EMI Months input
		$('[name="totalemimonth"]').on('touchspin.on.startspin', function () {
			calculateAndUpdateLoanDetails();
		});

		$('[name="totalemimonth"]').on('touchspin.on.startupspin', function () {
			calculateAndUpdateLoanDetails();
		});

		$('[name="startdate"]').on('change', function () {
			console.log('Start date changed. Calculating and updating loan details...');
            calculateAndUpdateLoanDetails();
        });

		


				function calculateAndUpdateLoanEmis() {
    // Get values from the input fields
    var loanPeriodInYears = parseFloat($('[name="years"]').val()) || 0;
    var totalEMIMonths = Math.round(loanPeriodInYears * 12);

    // Update Total EMI Months input
	    $('[name="totalemimonth"]').val(totalEMIMonths).trigger('change');
}

// Initialize the touchspin plugin for Years
$('[name="years"]').TouchSpin({
    min: 1,
    max: 100,
    step: 1,
    decimals: 0,
    boostat: 5,
    maxboostedstep: 10,
});

// Attach change event listener to Years input
$('[name="years"]').on('change', function () {
    calculateAndUpdateLoanEmis();
});

// Attach touchspin button events to Years input
$('[name="years"]').on('touchspin.on.startspin', function () {
    calculateAndUpdateLoanEmis();
});

$('[name="years"]').on('touchspin.on.startupspin', function () {
    calculateAndUpdateLoanEmis();
});
	});
</script>

	<script>
				$(document).ready(function(){
					$('.beforedate').each(function(){
					$(this).data("DateTimePicker").maxDate(new Date());
					});
					$('.afterdate').each(function(){
					$(this).data("DateTimePicker").minDate(new Date());
					});
					$('.today').each(function(){
					$(this).data("DateTimePicker").minDate(new Date());
					$(this).data("DateTimePicker").maxDate(new Date());
					});
				});
			</script>
	<script>
			function deleteParentElement(n){
				$("#addeddiv").remove();
				}
			function deleteaddednote(n){
				$("#addednote").remove();
			}
			function deleteattachfile(n){
				$("#attachfile").remove();
			}
		
			function CheckColors(val){
			var element=document.getElementById('color');
			if(val=='pick a color'||val=='others')
			element.style.display='block';
			else  
			element.style.display='none';
			}
	</script> 
	<script>
		$(document).ready(function(){
		
		$("body").on("change", "#loantype", function (e) {
				
				var loanid= $(this).val()
				<!-- alert(loanid); -->
				
				if(loanid!=''){
				$.ajax({
							type: 'GET',
							url: '/ajxfun/loantypedesc/',
							headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
							data : {loanid:loanid},
							success: function (response)			 							
							{						
							var loantype = response.loantype;
								$('#loantypdesc').empty().append(loantype[0].loan_desc);
								$('#loanamount').val(loantype[0].loan_min_amount);
								$('#loanamount').attr('value',loantype[0].loan_min_amount);
								$('#loanamount').attr('data-min',loantype[0].loan_min_amount);
								$('#loanamount').attr('data-max',loantype[0].loan_max_amount);
								$('#interestrate').val(loantype[0].interestrate);
								$('#interest').val(loantype[0].interestrate);
								$('#processingfee').val(loantype[0].processingfee);
							},
					error: function(e) 
							{
								alert("An error occurred: " + e.responseText);
								console.log(e);
							}
						});
				}else{
					$('#loantypdesc').empty().append(loantype[0].loan_desc);
				}   
			});
			});
	</script>
	{{#each geninfo as |geninfom|}}
	{{!-- <script type="text/javascript">
    function ValidateExtension() {
       
        let errorCount = 0;

        
        $('.fileUpload').each(function () {
            const fileInput = $(this);

           
            if (fileInput.val() !== '') {
                const fileUpload = fileInput.val();
                const allowedFiles = [];

                const pdf = "{{geninfom.doctype_Pdf}}";
                const doc = "{{geninfom.doctype_Doc}}";
                const docx = "{{geninfom.doctype_Docx}}";
                const xls = "{{geninfom.doctype_Xls}}";
              
                const xlsx = "{{geninfom.doctype_Xlsx}}";

            
                if (pdf) allowedFiles.push(pdf);
                if (doc) allowedFiles.push(doc);
                if (docx) allowedFiles.push(docx);
                if (xls) allowedFiles.push(xls);                
                if (xlsx) allowedFiles.push(xlsx);

              
                const regex = new RegExp(
                    `([a-zA-Z0-9\\s_\\.-:])+\\.(${allowedFiles.join('|')})$`,
                    "i"
                );
console.log(regex.test(fileUpload));
                if (!regex.test(fileUpload)) {
                    errorCount++;
                    alert(`Only ${allowedFiles.join(', ')} formats are allowed.`);
                    fileInput.val(""); // Reset the input field
                } else {
                    fileInput.siblings('.notice').html(""); // Clear any existing notices

                  
                    const size = parseFloat((fileInput[0].files[0].size / 1024 / 1024).toFixed(2));
                    const limit = parseFloat("{{geninfom.docupload_size}}");

                    if (size > limit) {
                        alert(`Too large file size. Only files smaller than {{geninfom.docupload_size}}MB can be uploaded.`);
                        fileInput.val(""); // Reset the input field
                        return false;
                    }
                }
            }
        });

        if (errorCount > 0) {
            return false; // Validation failed
        }
    }
</script> --}}

	{{/each}}
	<script>
	$(document).ready(function(){
		$("body").on("click", "#add_note", function (e) {
			$('.add_note').append('{{addnote "data"}}');
		});	
		$("body").on("click", "#add_file", function (e) {
			$('.add_file').append('{{attachfile "data"}}');
		});
		
		$( ".docfile" ).each(function() {
			$(this).on("click", function(){
				$(this).siblings(".doc_old_in").remove();
			});
		});
		
		$("body").on("click", "#add_doc", function (e) {

			$('.add_element').append('{{addelement "data"}}');
		});
		
		});
				
	</script>
	<script>
	$(document).ready(function () {
		// Function to calculate Income per annum from Income per month
		function calculateAnnualIncome() {
		var monthlyIncome = parseInt($('[name="incomepermonth"]').val()) || 0;
		var annualIncome = monthlyIncome * 12;
		$('[name="incomeperyear"]').val(annualIncome.toFixed(1));
		}
		function calculateMonthlyIncome() {
		var annualIncome = parseInt($('[name="incomeperyear"]').val()) || 0;
		var monthlyIncome = annualIncome / 12;
		$('[name="incomepermonth"]').val(monthlyIncome.toFixed(1));
		}

		// Initialize the TouchSpin plugin for Income per month
		$('[name="incomepermonth"]').TouchSpin({
		min: 0,
		max: 1000000, // Set the max value according to your requirement
		step: 1000,
		decimals: 2,
		boostat: 5,
		maxboostedstep: 10,
		});
		$('[name="incomeperyear"]').TouchSpin({
		min: 0,
		max: 1000000, // Set the max value according to your requirement
		step: 1000,
		decimals: 2,
		boostat: 5,
		maxboostedstep: 10,
		});

			$('[name="incomepermonth"]').on('change', function () {
		calculateAnnualIncome();
		});

		// Attach touchspin button events to Total EMI Months input
		$('[name="incomepermonth"]').on('touchspin.on.startspin', function () {
		calculateAnnualIncome();
		});

		$('[name="incomepermonth"]').on('touchspin.on.startupspin', function () {
		calculateAnnualIncome();
		});
			$('[name="incomeperyear"]').on('change', function () {
		calculateMonthlyIncome();
		});

		// Attach touchspin button events to Total EMI Months input
		$('[name="incomeperyear"]').on('touchspin.on.startspin', function () {
		calculateMonthlyIncome();
		});

		$('[name="incomeperyear"]').on('touchspin.on.startupspin', function () {
		calculateMonthlyIncome();
		});

	});
	
	</script>
	{{#each newfield as |customvalid|}}
	<script type="text/javascript">
		$('document').ready(function(){		
			m=0;
			$('.validimage').on('blur', function(){
				if($(this).val() != '') {
					var imageUpload=$(this).val();
					var allowedFiles = [];
					var image="{{customvalid.filetype}}";
					var res = image.split(",");
					allowedFiles=res;
					var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
					if (!regex.test(imageUpload.toLowerCase())) {
						m++;
						$(this).siblings('.notice').html("Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.");
					}
					else{
						$(this).siblings('.notice').html("");
					}
				}
			});
			$('.validimage').on('change', function() {
			if("{{customvalid.field_type}}" == "file"){
				var size = (this.files[0].size/1024/1024).toFixed(2);
				var limit="{{customvalid.filesize}}";
				if(size > limit){
					alert("size should be less than or equal to {{customvalid.filesize}} mb");
					$('.validimage').val("");
				}
			}
			});
				if(m>0){
				return false;
				}
			});
	</script>
	{{/each}}
		{{#each geninfo as |geninfom|}}
<script type="text/javascript">
    function ValidateExtensionForAttachFile() {
        let errorCount = 0;

        // Loop through all file upload elements with the class 'fileUpload'
        $('.fileUpload').each(function () {
            const fileInput = $(this);

            if (fileInput.val() !== '') {
                const fileUpload = fileInput.val();

                // Allowed file extensions dynamically populated from variables
                const allowedFiles = [];
                const extensions = {
                    pdf: "{{geninfom.doctype_Pdf}}",
                    doc: "{{geninfom.doctype_Doc}}",
                    docx: "{{geninfom.doctype_Docx}}",
                    xls: "{{geninfom.doctype_Xls}}",
                    xlsx: "{{geninfom.doctype_Xlsx}}",
                  
                };

                // Push valid extensions into the array
                Object.values(extensions).forEach((ext) => {
                    if (ext) allowedFiles.push(ext);
                });

                // Create regex for validating file extension
                const regex = new RegExp(
                    `([a-zA-Z0-9\\s_\\.-:])+\\.(${allowedFiles.join('|')})$`,
                    "i"
                );

                // Validate file extension
                if (!regex.test(fileUpload)) {
                    errorCount++;
                   alert(`Only ${allowedFiles.join(', ')} formats are allowed.`);
                    fileInput.val(""); // Reset the input field
                    return true; // Skip further validation for this input
                }

                // Validate file size
                const fileSizeMB = parseFloat((fileInput[0]?.files[0]?.size / 1024 / 1024).toFixed(2));
                const maxFileSizeMB = parseFloat("{{geninfom.docupload_size}}");

                if (fileSizeMB > maxFileSizeMB) {
                     alert(`Too large file size. Only files smaller than {{geninfom.docupload_size}}MB can be uploaded.`);
                    fileInput.val(""); // Reset the input field
                    return true; // Skip further validation for this input
                }

                // Clear any existing error messages or notices
                fileInput.siblings('.notice').html("");
            }
        });

        // Return false if there were validation errors
        return errorCount === 0;
    }
</script>


	{{/each}}