{{breadcrums (__ 'Home') (__ 'View Loan')}}

<div class="app-content center-layout mt-2 mx-md-3 px-1">
	<div class="content-wrapper">

		<div class="content-body">
			<section id="simple-user-cards" class="row pb-2">
				<div class="col-xl-12 col-md-12 col-sm-12">
					{{#each user}}
					<h2> <i class="fa fa-user-circle-o p-1"></i>{{this.firstname}} {{this.middlename}} {{this.lastname}}
					</h2>
					{{/each}}
				</div>
				<div class="row" style="float:left; width:100%">
					<div class="col-xl-3 col-md-12 col-sm-12 pl-0">
						<div class="card-content123">
							{{#each data}}
							<input type="hidden" id="userinput1" name="id" {{#if this._id}} value="{{this._id}}"
								{{/if}}>
							<div class="card-body padding-mobile text-center p-0 pt-1 pb-1">
								<h5 class="card-title"></h5>

								<div class="card-body text-center padding-mobile">
									<h6 class="card-subtitle text-muted"><b>{{#with ..}}{{__ "Loan No. :"
											setlang}}{{/with}}</b> {{displayOrNA this.loancount}}</h6>

								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-md-12 col-sm-12" style="padding-top: 2%;">
						<div id="card-drag-area">
							<h5 class="card-title"></h5>

							<div class="col-md-12 col-sm-12 align-self-start profile_user leftDiv border-light">
								<div class="row">
									<div class="col-xl-12 col-md-12 col-12 col-sm-12 col-xs-12">
										<div class="row">
											<div
												class="col-xl-5 col-md-12 col-12 col-sm-12 col-xs-12 card-content collapse show pb-1">
												<h6><b>{{#with ..}}{{__ "Loan Description:" setlang}}{{/with}}</b>
													{{displayOrNA this.description}}</h6>
											</div>
											<div
												class="col-xl-4 col-md-6 col-12 col-sm-12 col-xs-12 card-content collapse show pb-1">
												<h6>
													<b>{{#with ..}}{{__ "Loan Amount" setlang}}{{/with}}
														({{{currencyList ../session.generaldata.currency}}}):</b>
													{{formatNumber this.loanamount 0 ','','}}
												</h6>
											</div>
											<div
												class="col-xl-3 col-md-6 col-12 col-sm-12 col-xs-12 card-content collapse show pb-1">
												<h6>
													<b>{{#with ..}}{{__ "Interest Rate:" setlang}}{{/with}}</b>
													{{this.interestrate}}%
												</h6>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!--View more and View less-->
				</div>
				<div class="col-xl-12 col-sm-12 col-md-12 col-12   text-center  p-1 ">
					<button onclick="myFunction()" id="myBtn" type="button" class="viewbtn bg-transparent border-0 "
						style="outline:none;">{{#with ..}}{{__ "View More" setlang}}{{/with}}<br /><i
							class='fa  fa-2x'>&#xf107;</i></button>
				</div>
		</div>
		<div class="row match-height">
			<span id="dots"></span>
			<span id="more" class="col-12" style="display:none;">
				<div class=" col-xl-12 col-lg-12  col-12 app-content center-layout bg-white p-0 mt-2 ">
					<div class="table-responsive">
						<!--<div class="col-xl-12 col-sm-12 col-12 bd-example p-1">-->
						<div class="h3 p-1 "><i class="fa fa-user" aria-hidden="true"></i> {{#with ..}}{{__ "Loan
							Information" setlang}}{{/with}}</div>
						<div class="container-fluid ">
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Loan Number"
											setlang}}{{/with}}</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{this.loancount}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Loan Type"
											setlang}}{{/with}}</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											{{#each ../type as |results|}}
											<div class="tabletext">{{results.type}}</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Years"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{this.years}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Work Detail"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{displayOrNA this.workdetail}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold">{{#with ..}}{{__ "Loan Start Date"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{getdate this.startdate ../session.generaldata.date_format}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Loan End Date"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{getdate this.enddate ../session.generaldata.date_format}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Total EMI
											months" setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{this.totalemimonth}}</div>
										</div>
									</div>
								</div>


								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Income Per Year"
											setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{formatNumber this.incomeperyear 0 ','','}} </div>
										</div>
									</div>
								</div>
							</div>

														<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Income Per
											Month" setlang}}{{/with}} ({{{currencyList
											../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{formatNumber this.incomepermonth 0 ','','}}</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Documents Shown"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<div class="row">
												<div class="col-1">
													<span class="colon">:</span>
												</div>
											
											<div class="col pl-0">
											{{#each this.document}}
											<div class="tabletext"><a href="/images/upload/{{this}}" download="{{this}}"
													target="_blank">{{this}}</a>
												<input class="form-control border-light fileUpload"
													name="productimage_old" value="{{this}}" type="hidden"
													placeholder="" id="userinput5">
											</div>
											{{/each}}
											</div>
											
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Loan Amount" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{this.loanamount}}</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Annual Interest Rate" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{this.interestrate}}%</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Initiation Fee" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{this.initiationfee}}</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Administration Fee" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{this.administrationfee}}</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Month 1" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{ this.first_monthly_payment }}</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Month 2 to upwards" setlang}}{{/with}} ({{{currencyList ../session.generaldata.currency}}})
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext"> {{ this.monthly_payment }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="h3 p-1">
							<i class="fa fa fa-user" aria-hidden="true"></i> {{#with ..}}{{__ "Customer Information"
							setlang}}{{/with}}
						</div>
						<div class="container-fluid ">
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Customer Name"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{displayOrNA this.customer}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Address"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{displayOrNA this.address}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Mobile"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{displayOrNA this.mobile}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 ">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Address
											Customer" setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">
												{{#if (eq this.addtype "Select customer address type")}}
												N/A
												{{else}}
												{{displayOrNA this.addtype}}
												{{/if}}
											</div>


										</div>
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 col-6 font-weight-bold ">{{#with ..}}{{__ "Email"
											setlang}}{{/with}}
										</div>
										<div class="col-sm-6 col-6">
											<span class="colon">:</span>
											<div class="tabletext">{{displayOrNA this.email}}</div>
										</div>
									</div>
								</div>
						    </div>
						</div>
						<!--</div>-->
			</span>
		</div>
	</div>
</div>


<script>
	function myFunction() {
		var dots = document.getElementById("dots");
		var moreText = document.getElementById("more");
		var btnText = document.getElementById("myBtn");
		var viewbtn = document.getElementById("myviewbtn");

		if (dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "{{{__ 'View More'}}} <br/><i class='fa fa-2x'>&#xf107;</i>";
			moreText.style.display = "none";
			viewbtn.style.display = "{{{__ 'View More'}}}";
		} else {
			dots.style.display = "none";
			btnText.innerHTML = "{{{__ 'View Less'}}} <br/><i class='fa fa-2x'>&#xf106;</i>";
			moreText.style.display = "inline";
			viewbtn.style.display = "{{{__ 'View Less'}}}";
		}
	}

</script>
</section>

{{/each}}
{{#if (eq approve 1)}}
<div class="row match-height" id="calendar">
	<div class="col-xl-12 col-lg-12 app-content center-layout mt-2   px-1" id="user_list">
		<div class="card">
			<div class="card-content">
				<div class="card-body px-0">
					<ul class="nav nav-tabs nav-top-border no-hover-bg">
						<li class="nav-item">
							<a class="nav-link active" id="baseIcon-tab11" data-toggle="tab" aria-controls="tabIcon11"
								href="#tabIcon11" aria-expanded="true"><i class="fa fa-play"></i>{{__ 'EMI
								Details'}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="baseIcon-tab13" data-toggle="tab" aria-controls="tabIcon13"
								href="#tabIcon13" aria-expanded="false"><i class="fa fa-cog"></i>{{__ 'Alert
								Details'}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="baseIcon-tab15" data-toggle="tab" aria-controls="tabIcon15"
								href="#tabIcon15" aria-expanded="false"><i class="fa fa-cog"></i>{{__ 'Re-Payment'}}</a>
						</li>
					</ul>

					<div class="tab-content px-1 pt-1">

						
						<div role="tabpanel" class="tab-pane active" id="tabIcon11" aria-expanded="true"
							aria-labelledby="baseIcon-tab11">
							<div class="app-content center-layout mt-2 mx-md-3 px-1">
								<div class="content-wrapper">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-content collpase show">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">
																	<div class="card-content collapse show">
																		<div
																			class="card-body card-dashboard card-design">
																			<section id="horizontal">
																				<div class="row">
																					<div class="col-12">
																						<div class="card">
																							<div id="tableBox"
																								class="table-responsive">
																								<table
																									class="table designtable">
																									<thead
																										class="headcolor">
																										<tr>
																											<th>{{__
																												'No.'}}
																											</th>
																											<th>{{__
																												'Date'}}
																											</th>
																											<th>{{__
																												'Principal'}}
																											</th>
																											<th>{{__
																												'Interest'}}
																											</th>
																											<th>{{__
																												'Total
																												Amount'}}
																											</th>
																											<th>{{__
																												'Remaining
																												Balance'}}
																											</th>
																											<th>{{__
																												'Status'}}
																											</th>
																										</tr>
																									</thead>

																									<tbody>
																										{{#each emi as
																										|result|}}
																										

																										<tr
																											class="colortr">
																											<td
																												class="bordertop">
																												{{result.month}}
																											</td>
																											<td
																												class="bordertop">
																												{{getdate result.date ../session.generaldata.date_format}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.principal
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.interest
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.totalpayment
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												{{formatNumber
																												result.remainingBalance
																												2 '.'
																												','}}
																											</td>
																											<td
																												class="bordertop">
																												<a
																													href="/loan/addemi/{{result._id}}">
																													{{#ifCond
																													this.status
																													'=='
																													'0'}}<button
																														type="button"
																														class="btn btn-info">{{#with
																														..}}{{__
																														'pending'}}{{/with}}</button>{{/ifCond}}</a>
																												{{#ifCond
																												this.status
																												'=='
																												'1'}}<button
																													type="button"
																													disabled
																													class="btn"
																													style="background-color:#00c735; color:#fff">{{#with
																													..}}{{__
																													'Completed'}}{{/with}}</button>{{/ifCond}}
																											</td>
																										</tr>

																										{{/each}}
																										<!-- <tr class="colortr font-weight-bold addi"> -->
																										<!-- <td>{{__ 'Sum'}}</td> -->
																										<!-- <td>300000.00</td> -->
																										<!-- <td>250.00</td> -->
																										<!-- <td>300250.00</td>  -->
																										<!-- <td>-</td>  -->
																										<!-- <td>-</td>  -->
																										<!-- </tr> -->
																									</tbody>
																								</table>
																								<!-- <script> -->
																								<!-- function CompareDate() { -->
																								<!-- var dateOne = new Date($(".startdate")); //Year, Month, Date -->
																								<!-- var dateTwo = new Date($(".end_date")); //Year, Month, Date -->
																								<!-- if (dateOne == dateTwo) { -->
																								<!-- alert("Status Compalate"); -->
																								<!-- } -->
																								<!-- else  -->
																								<!-- { -->
																								<!-- alert("Status Pending"); -->
																								<!-- } -->
																								<!-- }  -->
																								<!-- CompareDate(); -->
																								<!-- </script> -->
																							</div>
																						</div>
																					</div>
																				</div>
																			</section>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<div class="tab-pane text-center" id="tabIcon13" aria-labelledby="baseIcon-tab3">
							{{!-- <h3><strong>{{__ "Coming Soon . . ."}}</strong></h3> --}}
							{{#if alert_data}}
							{{#each alert_data as |data_emi|}}

							<div class="col-12 col-lg-8 view_alert mb-1">
								<div class="row">
									<div class="col-12 col-lg-8 p-1">
										<i class="ft-alert-triangle"></i>
										<div class="alert_details">
											<h3>{{#with ..}}{{__ "Upcoming Emi Month"}}{{/with}}</h3>
											<p>{{#with ..}}{{__ "You EMI month"}}{{/with}} {{data_emi.date}}. {{#with
												..}}{{__ "Your EMI month payment is"}}{{/with}} {{formatNumber
												data_emi.totalpayment 2 '.' ','}}</p>
										</div>
									</div>
									<div class="col-12 col-lg-4 p-1 float-right">
										<p class="date_alert">{{data_emi.date}}</p>
									</div>
								</div>
							</div>

							{{/each}}
							{{else}}
							<h4 class="mb-1 mt-1 ml-1">{{__ "No alert Found."}}</h4>
							{{/if}}
						</div>
						<!-- <div class="tab-pane" id="tabIcon15" aria-labelledby="baseIcon-tab3"> -->
						<!-- <a href="/loan/repayment/{{result._id}}"> -->
						<!-- <button type="button" class="btn btn-info">Add Repay Now</button></a> -->
						<!-- </div> -->

						<div class="tab-pane " id="tabIcon15" aria-expanded="true" aria-labelledby="baseIcon-tab3">
							<a href="/loan/repayment">
								<!-- <input type="hidden" id="userinput1" name="id" {{#if this.loan_id}} value="{{this.loan_id}}"{{/if}} >   -->
								<!-- <p>{{this.id}}</p> -->
								<button type="button" class="btn btn-info">{{__ "Add Repay Now"}}</button></a>
							<div class="app-content center-layout mt-2 mx-md-3 px-1">
								<div class="content-wrapper">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-content collpase show">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">
																	<div class="card-content collapse show">
																		<div class="card-body card-dashboard card-design">
																			<section id="horizontal">
																				<div class="row">
																					<div class="col-12">
																						<div class="card">
																							<div id="tableBox" class="table-responsive">
																								<table class="table designtable">
																									<thead class="headcolor">
																										<tr>
																											<th>{{__
																												'No'}}
																											</th>
																											<th>{{__
																												'Date'}}
																											</th>
																											<!-- <th>{{__ 'Total EMI Months'}}</th> -->
																											<th>{{__
																												'Payment
																												Method'}}
																											</th>
																											<th>{{__
																												'Actual
																												Number
																												Of
																												Payments'}}
																											</th>
																											<th>{{__
																												'Extra
																												Payment
																												Of
																												Amount'}}
																											</th>
																									</thead>
							
																									<tbody>
																										{{#each
																										repayment as
																										|result|}}
																										<tr class="colortr">
																											<td class="bordertop">
																												{{result.month}}
																											</td>
																											<td class="bordertop">
																												{{
																												result.date}}
																											</td>
																											<!-- <td class="bordertop">{{formatNumber result.paymentemimonth }}</td> -->
																											<td class="bordertop">
																												{{result.payment_type}}
																											</td>
																											<td class="bordertop">
																												{{formatNumber
																												result.repayments}}
																											</td>
																											<td class="bordertop">
																												{{formatNumber
																												result.repaymentamount
																												}}</td>
																										</tr>
																										{{/each}}
																										<!-- <tr class="colortr font-weight-bold addi"> -->
																										<!-- <td>{{__ 'Sum'}}</td> -->
																										<!-- <td>300000.00</td> -->
																										<!-- <td>250.00</td> -->
																										<!-- <td>300250.00</td>  -->
																										<!-- <td>-</td>  -->
																										<!-- <td>-</td>  -->
																										<!-- </tr> -->
							
																									</tbody>
																								</table>
							
																							</div>
																						</div>
																					</div>
																				</div>
																			</section>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!---Re_Payment List Table end--->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{else}}
<div class="tab-pane text-center" id="tabIcon11" aria-labelledby="baseIcon-tab1">
	<h3><strong>{{__ "Loan not approved"}}</strong></h3>
</div>
{{/if}}

</div>

</div>
</div>
</div>

<!-- <script language="javascript" type="text/javascript"> -->
<!-- function sum(td){            -->
<!-- if (toString.call(td) !== "[object Array]") -->
<!-- return false;      -->
<!-- var total =  0; -->
<!-- for(var i=0;i<td.length;i++) -->
<!-- {                   -->
<!-- if(isNaN(td[i])){ -->
<!-- continue; -->
<!-- } -->
<!-- total += Number(td[i]); -->
<!-- } -->
<!-- return total; -->
<!-- } -->
<!-- </script> -->
<!-- {{#each data as |result|}} -->
<!-- <script src="/js/loan.js"></script> -->
<!-- <script src="/js/loanToHtmlTable.js"></script> -->
<!-- <script> -->
<!-- var loan = new LoanJS.Loan('{{result.loanamount}}', '{{result.totalemimonth}}', '{{result.interest}}', true); -->
<!-- //var div = document.getElementById("tableBox"); -->
<!-- div.innerHTML = LoanJS.loanToHtmlTable(loan); // loan rendering as html table string -->
<!-- document.div.appendChild(div); -->
<!-- </script> -->
<!-- {{/each}} -->
